n8n/demo-data/workflows/4qyoDdaGDRsW0gQq.json
{"updatedAt":"2026-01-07T15:13:52.742Z","createdAt":"2026-01-05T15:08:11.769Z","id":"4qyoDdaGDRsW0gQq","name":"MCG:POC:W2 AI Content Generator","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1120,-80],"id":"adc3e3be-316e-4e8a-902e-219fd2cc4968","name":"When clicking ‘Execute workflow’"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"contentPackage\": {{\n{\n  \"packageId\": \"pkg-test-001\",\n  \"generatedAt\": \"2025-01-05T14:30:00.000Z\",\n  \"params\": {\n    \"theme\": \"craftsmanship\",\n    \"platform\": \"instagram\",\n    \"vehicle\": \"continental-gt\"\n  },\n  \"image\": {\n    \"id\": \"img-003\",\n    \"filename\": \"supersports-detail.jpg\",\n    \"path\": \"products/supersports-detail.jpg\",\n    \"vehicle\": \"supersports\",\n    \"shotType\": \"detail\",\n    \"themes\": [\"craftsmanship\", \"performance\"],\n    \"notes\": \"Close-up detail work for craftsmanship narratives\"\n  },\n  \"examples\": {\n    \"headlines\": [\n      { \"id\": \"hl-001\", \"text\": \"Handcrafted in Crewe\", \"tone\": \"informative\", \"characterCount\": 18 },\n      { \"id\": \"hl-002\", \"text\": \"Every Stitch Tells a Story\", \"tone\": \"evocative\", \"characterCount\": 26 }\n    ],\n    \"bodyCopy\": [\n      { \"id\": \"bc-001\", \"text\": \"In our Crewe atelier, skilled craftsmen hand-select each hide, examining every inch for the precise grain and texture that will become a Bentley interior.\", \"length\": \"short\", \"wordCount\": 30 }\n    ],\n    \"ctas\": [\n      { \"id\": \"cta-004\", \"text\": \"Experience the Craftsmanship\", \"intent\": \"consideration\" }\n    ]\n  },\n  \"template\": {\n    \"platform\": \"instagram\",\n    \"maxCharacters\": 2200,\n    \"optimalCharacters\": 150,\n    \"hashtagCount\": 5,\n    \"hashtagPool\": [\"#Bentley\", \"#BentleyMotors\", \"#Handcrafted\", \"#BritishLuxury\", \"#Craftsmanship\", \"#ContinentalGT\", \"#GrandTouring\"],\n    \"formatting\": {\n      \"headlineStyle\": \"standalone_line\",\n      \"bodySeparator\": \"\\\\n\\\\n\",\n      \"hashtagPlacement\": \"end\"\n    },\n    \"constraints\": {\n      \"avoidExclamationMarks\": true,\n      \"spelling\": \"british\"\n    }\n  },\n  \"validation\": {\n    \"isValid\": true,\n    \"errors\": [],\n    \"warnings\": []\n  }\n}\n}}\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-912,-80],"id":"13f5d188-7bcd-4bfd-a65b-9d7bcc734369","name":"Test Content Package"},{"parameters":{"fileSelector":"/data/shared/marketing-assets/brand-guidelines/voice-and-tone.md","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-704,-80],"id":"25f3f45e-20c8-4995-a6c8-da97b9694dca","name":"Read Brand Guidelines","alwaysOutputData":true},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[-496,-80],"id":"ba85390f-adfb-4624-bc3f-5e816350182f","name":"Extract Brand Guidelines Text"},{"parameters":{"jsCode":"// Get inputs from previous nodes\nconst contentPackage = $('Test Content Package').first().json.contentPackage;\nconst brandGuidelines = $('Extract Brand Guidelines Text').first().json.data;\n\n// Extract key elements\nconst { params, image, examples, template } = contentPackage;\n\n// Format example headlines for few-shot context\nconst headlineExamples = examples.headlines\n  .map((h, i) => `  ${i + 1}. \"${h.text}\" (${h.tone}, ${h.characterCount} chars)`)\n  .join('\\n');\n\n// Format example body copy\nconst bodyExamples = examples.bodyCopy\n  .map((b, i) => `  ${i + 1}. \"${b.text}\" (${b.length}, ${b.wordCount} words)`)\n  .join('\\n');\n\n// Format available hashtags\nconst hashtagOptions = template.hashtagPool.join(', ');\n\n// Build the prompt\nconst prompt = `You are a senior copywriter for Bentley Motors, crafting social media content that embodies the brand's sophisticated voice.\n\n## BRAND VOICE GUIDELINES (EXTRACT)\n${brandGuidelines.substring(0, 3000)}\n\n## YOUR TASK\nGenerate a NEW, ORIGINAL ${template.platform} post for Bentley Motors.\n\n**Campaign Parameters:**\n- Theme: ${params.theme}\n- Vehicle Focus: ${params.vehicle}\n- Platform: ${template.platform}\n\n**Image Being Used:**\n- Filename: ${image.filename}\n- Shot Type: ${image.shotType}\n- Visual Themes: ${image.themes.join(', ')}\n- Art Direction Notes: ${image.notes}\n\n**Platform Constraints:**\n- Maximum characters: ${template.maxCharacters}\n- Optimal length: ${template.optimalCharacters} characters (for body copy, excluding headline and hashtags)\n- Hashtag count: exactly ${template.hashtagCount}\n- Spelling: British English only\n- NEVER use exclamation marks\n- Headline style: standalone line (no punctuation at end unless question)\n\n## FEW-SHOT EXAMPLES (for style reference only — do NOT copy these)\n\n**Example Headlines:**\n${headlineExamples}\n\n**Example Body Copy:**\n${bodyExamples}\n\n**Example CTA:**\n\"${examples.ctas[0].text}\"\n\n## OUTPUT FORMAT\nRespond ONLY with valid JSON in this exact structure:\n{\n  \"headline\": \"Your new headline here\",\n  \"bodyCopy\": \"Your new body copy here. Multiple sentences are fine. Keep it around ${template.optimalCharacters} characters.\",\n  \"cta\": \"Your call-to-action here\",\n  \"hashtags\": [\"#Hashtag1\", \"#Hashtag2\", \"#Hashtag3\", \"#Hashtag4\", \"#Hashtag5\"],\n  \"totalCharacters\": 000\n}\n\n**Available Hashtags (choose ${template.hashtagCount}):**\n${hashtagOptions}\n\n## CRITICAL REMINDERS\n1. Generate ORIGINAL content — do not copy the examples\n2. Match the image's visual themes (${image.themes.join(', ')})\n3. British spelling: honour, colour, centre, customised\n4. NO exclamation marks anywhere\n5. Count your total characters (headline + body + cta + hashtags)\n6. Respond with ONLY the JSON object, no additional text`;\n\nreturn [{\n  json: {\n    prompt,\n    contentPackage,\n    brandGuidelinesLength: brandGuidelines.length\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-288,-80],"id":"49e4a4b7-e02b-4863-b60a-74baf375b6dc","name":"Build Claude Prompt"},{"parameters":{"jsCode":"// Get Claude's response\nconst claudeResponse = $('Claude: Generate Content').first().json;\nconst contentPackage = $('Build Claude Prompt').first().json.contentPackage;\n\n// Extract the text content from Claude's response\n// The response structure is: { message: { content: [{ type: 'text', text: '...' }] } }\nlet responseText = '';\n\nif (claudeResponse.message && claudeResponse.message.content) {\n  const textContent = claudeResponse.message.content.find(c => c.type === 'text');\n  if (textContent) {\n    responseText = textContent.text;\n  }\n} else if (claudeResponse.content) {\n  // Alternative structure\n  const textContent = claudeResponse.content.find(c => c.type === 'text');\n  if (textContent) {\n    responseText = textContent.text;\n  }\n} else if (typeof claudeResponse === 'string') {\n  responseText = claudeResponse;\n}\n\n// Clean up the response (remove markdown code blocks if present)\nresponseText = responseText\n  .replace(/```json\\n?/gi, '')\n  .replace(/```\\n?/gi, '')\n  .trim();\n\n// Parse the JSON\nlet generatedContent;\ntry {\n  generatedContent = JSON.parse(responseText);\n} catch (error) {\n  throw new Error(`Failed to parse Claude response as JSON: ${error.message}\\n\\nRaw response: ${responseText}`);\n}\n\n// Validate required fields\nconst requiredFields = ['headline', 'bodyCopy', 'cta', 'hashtags'];\nfor (const field of requiredFields) {\n  if (!generatedContent[field]) {\n    throw new Error(`Missing required field in Claude response: ${field}`);\n  }\n}\n\n// Ensure hashtags is an array\nif (!Array.isArray(generatedContent.hashtags)) {\n  throw new Error('Hashtags must be an array');\n}\n\nreturn [{\n  json: {\n    generatedContent,\n    contentPackage,\n    rawResponse: responseText\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-896,352],"id":"7d6b8fae-4fe1-4db0-a8ac-bbc359b7adc9","name":"Parse Claude Response"},{"parameters":{"modelId":{"__rl":true,"value":"claude-sonnet-4-20250514","mode":"list","cachedResultName":"claude-sonnet-4-20250514"},"messages":{"values":[{"content":"={{ $json.prompt }}"}]},"options":{"maxTokens":1024}},"type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[-80,-80],"id":"293ec5a8-4926-465c-8d56-405e0ca2ea74","name":"Claude: Generate Content","credentials":{"anthropicApi":{"id":"p9QWuxkACyYtUdYt","name":"Anthropic account"}}},{"parameters":{"jsCode":"const { generatedContent, contentPackage } = $('Parse Claude Response').first().json;\nconst template = contentPackage.template;\n\nconst validationErrors = [];\nconst validationWarnings = [];\n\n// 1. Check for exclamation marks\nconst fullText = `${generatedContent.headline} ${generatedContent.bodyCopy} ${generatedContent.cta}`;\nif (fullText.includes('!')) {\n  validationErrors.push('Content contains exclamation mark(s) — brand guidelines prohibit these');\n}\n\n// 2. Check hashtag count\nif (generatedContent.hashtags.length !== template.hashtagCount) {\n  validationErrors.push(\n    `Hashtag count mismatch: expected ${template.hashtagCount}, got ${generatedContent.hashtags.length}`\n  );\n}\n\n// 3. Check total character count\nconst hashtagString = generatedContent.hashtags.join(' ');\nconst totalContent = `${generatedContent.headline}\\n\\n${generatedContent.bodyCopy}\\n\\n${generatedContent.cta}\\n\\n${hashtagString}`;\nconst totalCharacters = totalContent.length;\n\nif (totalCharacters > template.maxCharacters) {\n  validationErrors.push(\n    `Total characters (${totalCharacters}) exceeds maximum (${template.maxCharacters})`\n  );\n}\n\n// 4. Check for American spellings (common ones)\nconst americanSpellings = [\n  { american: /\\bcolor\\b/gi, british: 'colour' },\n  { american: /\\bhonor\\b/gi, british: 'honour' },\n  { american: /\\bcenter\\b/gi, british: 'centre' },\n  { american: /\\bcustomize[ds]?\\b/gi, british: 'customise' },\n  { american: /\\bpersonalize[ds]?\\b/gi, british: 'personalise' },\n  { american: /\\brealize[ds]?\\b/gi, british: 'realise' },\n];\n\nfor (const { american, british } of americanSpellings) {\n  if (american.test(fullText)) {\n    validationWarnings.push(`Possible American spelling detected — should use \"${british}\"`);\n  }\n}\n\n// 5. Check body copy is within optimal range (warning, not error)\nconst bodyLength = generatedContent.bodyCopy.length;\nif (bodyLength > template.optimalCharacters * 1.5) {\n  validationWarnings.push(\n    `Body copy (${bodyLength} chars) is significantly longer than optimal (${template.optimalCharacters})`\n  );\n}\n\n// 6. Check hashtags are from the approved pool\nconst approvedHashtags = template.hashtagPool.map(h => h.toLowerCase());\nfor (const hashtag of generatedContent.hashtags) {\n  if (!approvedHashtags.includes(hashtag.toLowerCase())) {\n    validationWarnings.push(`Hashtag \"${hashtag}\" is not in the approved pool`);\n  }\n}\n\n// Determine validation status\nconst isValid = validationErrors.length === 0;\n\nreturn [{\n  json: {\n    generatedContent,\n    contentPackage,\n    validation: {\n      isValid,\n      errors: validationErrors,\n      warnings: validationWarnings,\n      totalCharacters,\n      bodyCharacters: bodyLength,\n      hashtagCount: generatedContent.hashtags.length\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-688,352],"id":"0948bfa6-23c0-43ad-b953-4eb15364e517","name":"Validate Output"},{"parameters":{"operation":"write","fileName":"={{ $('Generate Draft Metadata').item.json.filePath }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-32,224],"id":"72f695f8-cfb7-4695-b02d-8892c09f6800","name":"Save Draft"},{"parameters":{"assignments":{"assignments":[{"id":"0001ccb2-ae4b-41fc-80d1-6fd68ae9fda1","name":"dratfId","value":"={{ 'draft-' + $now.format('yyyy-MM-dd-HHmmss') + '-' + Math.random().toString(36).substring(2, 8) }}","type":"string"},{"id":"0cdc34e7-23c7-469c-a6c7-eeb9f678aeb0","name":"filename","value":"={{ 'draft-' + $now.format('yyyy-MM-dd-HHmmss') + '-' + Math.random().toString(36).substring(2, 8) + '.json' }}","type":"string"},{"id":"c44f0004-dd7b-4bca-8768-c5c9c1d8ca3e","name":"draft","value":"={{\n{\n  \"draftId\": $json.draftId,\n  \"createdAt\": $now.toISO(),\n  \"status\": \"pending_review\",\n  \"sourcePackageId\": $json.contentPackage.packageId,\n  \"params\": $json.contentPackage.params,\n  \"image\": $json.contentPackage.image,\n  \"generatedContent\": $json.generatedContent,\n  \"validation\": $json.validation,\n  \"formattedPost\": $json.generatedContent.headline + \"\\n\\n\" + $json.generatedContent.bodyCopy + \"\\n\\n\" + $json.generatedContent.cta + \"\\n\\n\" + $json.generatedContent.hashtags.join(\" \")\n}\n}}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-480,160],"id":"cf9a7d78-5aa1-482c-96c6-93df75379118","name":"Generate Draft Metadata Old"},{"parameters":{"jsCode":"const input = $('Validate Output').first().json;\n\n// Generate unique draft ID\nconst timestamp = new Date().toISOString().replace(/[-:]/g, '').split('.')[0];\nconst randomSuffix = Math.random().toString(36).substring(2, 8);\nconst draftId = `draft-${timestamp}-${randomSuffix}`;\nconst filename = `${draftId}.json`;\n\n// Format the complete post as it would appear on the platform\nconst { generatedContent } = input;\nconst formattedPost = [\n  generatedContent.headline,\n  '',\n  generatedContent.bodyCopy,\n  '',\n  generatedContent.cta,\n  '',\n  generatedContent.hashtags.join(' ')\n].join('\\n');\n\n// Build complete draft object\nconst draft = {\n  draftId,\n  createdAt: new Date().toISOString(),\n  status: 'pending_review',\n  sourcePackageId: input.contentPackage.packageId,\n  params: input.contentPackage.params,\n  image: input.contentPackage.image,\n  generatedContent,\n  validation: input.validation,\n  formattedPost\n};\n\nreturn [{\n  json: {\n    draft,\n    filename,\n    filePath: `/data/shared/output/drafts/${filename}`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-480,352],"id":"5dfd215e-58ba-4b9e-a7ff-78b4d25a6492","name":"Generate Draft Metadata"},{"parameters":{"operation":"toJson","options":{"fileName":"={{ $json.filename }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-240,224],"id":"b138ec20-b408-4cbc-8bac-e986d9474c27","name":"Convert Draft to File"},{"parameters":{"assignments":{"assignments":[{"id":"a1db5263-4fd5-4d5b-acb1-ea9109bc9ac3","name":"success","value":true,"type":"boolean"},{"id":"40db66e3-cfdd-48a9-8c37-40af7f442df3","name":"=message","value":"={{ 'Draft generated and saved: ' + $('Generate Draft Metadata').first().json.filename }}","type":"string"},{"id":"0a002ae0-adde-4c75-90be-d92daf42244d","name":"summary","value":"={{\n{\n  \"draftId\": $('Generate Draft Metadata').first().json.draft.draftId,\n  \"filePath\": $('Generate Draft Metadata').first().json.filePath,\n  \"validationPassed\": $('Generate Draft Metadata').first().json.draft.validation.isValid,\n  \"validationErrors\": $('Generate Draft Metadata').first().json.draft.validation.errors,\n  \"validationWarnings\": $('Generate Draft Metadata').first().json.draft.validation.warnings,\n  \"totalCharacters\": $('Generate Draft Metadata').first().json.draft.validation.totalCharacters,\n  \"preview\": $('Generate Draft Metadata').first().json.draft.formattedPost.substring(0, 200) + \"...\"\n}\n}}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[176,224],"id":"d50938d0-ec6b-4f50-808a-2a827da73aa2","name":"Output Summary"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Test Content Package","type":"main","index":0}]]},"Test Content Package":{"main":[[{"node":"Read Brand Guidelines","type":"main","index":0}]]},"Read Brand Guidelines":{"main":[[{"node":"Extract Brand Guidelines Text","type":"main","index":0}]]},"Extract Brand Guidelines Text":{"main":[[{"node":"Build Claude Prompt","type":"main","index":0}]]},"Build Claude Prompt":{"main":[[{"node":"Claude: Generate Content","type":"main","index":0}]]},"Claude: Generate Content":{"main":[[{"node":"Parse Claude Response","type":"main","index":0}]]},"Parse Claude Response":{"main":[[{"node":"Validate Output","type":"main","index":0}]]},"Validate Output":{"main":[[{"node":"Generate Draft Metadata","type":"main","index":0}]]},"Generate Draft Metadata":{"main":[[{"node":"Convert Draft to File","type":"main","index":0}]]},"Convert Draft to File":{"main":[[{"node":"Save Draft","type":"main","index":0}]]},"Save Draft":{"main":[[{"node":"Output Summary","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2d9fffd1-0fb0-4995-abf4-bd996feeeecf","activeVersionId":null,"versionCounter":26,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-01-05T15:08:11.769Z","createdAt":"2026-01-05T15:08:11.769Z","role":"workflow:owner","workflowId":"4qyoDdaGDRsW0gQq","projectId":"B6PPf1vWVgM1PWbx","project":{"updatedAt":"2025-12-19T14:09:11.868Z","createdAt":"2025-12-19T11:25:09.036Z","id":"B6PPf1vWVgM1PWbx","name":"Chris Tregaskis <c.tregaskis@gmail.com>","type":"personal","icon":null,"description":null}}]}