n8n/demo-data/workflows/eHXVvbWNEXKCmkbv.json
{"updatedAt":"2026-01-05T11:47:41.426Z","createdAt":"2026-01-05T10:46:28.751Z","id":"eHXVvbWNEXKCmkbv","name":"Content Assember","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"mode":"raw","jsonOutput":"{\n  \"theme\": \"craftsmanship\",\n  \"platform\": \"instagram\",\n  \"vehicle\": \"continental-gt\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-688,-16],"id":"6a4df8c0-4512-4e5b-b433-122af608a619","name":"Set Input Parameters"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-896,-16],"id":"3e338fa7-b114-4448-963d-e201c0fee0e5","name":"Trigger"},{"parameters":{"fileSelector":"/data/shared/marketing-assets/images/images-manifest.json","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-384,-320],"id":"bae8734a-4437-4f91-ae0a-d899131833dc","name":"Read Images Manifest"},{"parameters":{"fileSelector":"/data/shared/marketing-assets/copy/headlines/headlines.json","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-384,-128],"id":"db7c126c-f848-4026-8ead-8aba467939a0","name":"Read Headlines"},{"parameters":{"fileSelector":"/data/shared/marketing-assets/copy/body-copy/body-copy.json","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-384,80],"id":"4be6db3e-9675-46e0-9df0-7468c07fd48a","name":"Read Body Copy"},{"parameters":{"fileSelector":"/data/shared/marketing-assets/copy/ctas/ctas.json","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-368,288],"id":"677fedba-8523-417a-82c9-94d5710f005c","name":"Read CTAs"},{"parameters":{"numberInputs":4},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[80,-48],"id":"aea762d7-3990-40a3-9bd3-9fc99dc3a9e3","name":"Merge Assets"},{"parameters":{"fileSelector":"=/data/shared/marketing-assets/templates/social/{{ $('Set Input Parameters').item.json.platform }}-post.json","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[288,-16],"id":"d10eea47-0e65-494a-8988-32a4e85fdeba","name":"Read Platform Template"},{"parameters":{"jsCode":"// Assemble Content Package\n// Filters assets by params, selects examples, builds output for Workflow 3\n\n// --- GET INPUTS ---\n\nconst params = $('Set Input Parameters').first().json;\nconst { theme, platform, vehicle } = params;\n\n// Get merged assets (4 items: images, headlines, body copy, CTAs)\nconst mergedItems = $('Merge Assets').all();\n\n// Find each asset type by checking for unique keys\nconst imagesData = mergedItems.find(item => item.json.data?.images)?.json.data;\nconst headlinesData = mergedItems.find(item => item.json.data?.headlines)?.json.data;\nconst bodyCopyData = mergedItems.find(item => item.json.data?.body_copy)?.json.data;\nconst ctasData = mergedItems.find(item => item.json.data?.ctas)?.json.data;\n\n// Get platform template\nconst templateData = $('Extract Template JSON').first().json.data;\n\n// --- FILTER FUNCTIONS ---\n\nconst matchesVehicle = (assetVehicle, targetVehicle) => {\n  if (targetVehicle === 'all') return true;\n  if (assetVehicle === 'generic' || assetVehicle === 'none') return true;\n  return assetVehicle === targetVehicle;\n};\n\nconst modelListMatchesVehicle = (suggestedModels, targetVehicle) => {\n  if (targetVehicle === 'all') return true;\n  if (suggestedModels.includes('all')) return true;\n  return suggestedModels.includes(targetVehicle);\n};\n\n// --- FILTER ASSETS ---\n\n// Filter images: theme in themes array AND vehicle matches\nconst filteredImages = imagesData.images.filter(img => \n  img.themes.includes(theme) && matchesVehicle(img.vehicle, vehicle)\n);\n\n// Filter headlines: theme matches AND vehicle in suggested_models\nconst filteredHeadlines = headlinesData.headlines.filter(hl =>\n  hl.theme === theme && modelListMatchesVehicle(hl.suggested_models, vehicle)\n);\n\n// Filter body copy: theme matches AND vehicle in suggested_models\nconst filteredBodyCopy = bodyCopyData.body_copy.filter(bc =>\n  bc.theme === theme && modelListMatchesVehicle(bc.suggested_models, vehicle)\n);\n\n// Filter CTAs: include all (they're not theme-specific), prefer awareness/consideration\nconst filteredCTAs = ctasData.ctas.filter(cta =>\n  cta.intent === 'awareness' || cta.intent === 'consideration'\n);\n\n// --- SELECT IMAGE (random from filtered pool) ---\n\nconst selectRandom = (arr) => {\n  if (!arr || arr.length === 0) return null;\n  return arr[Math.floor(Math.random() * arr.length)];\n};\n\nconst selectedImage = selectRandom(filteredImages);\n\n// --- BUILD VALIDATION ---\n\nconst errors = [];\nconst warnings = [];\n\nif (filteredImages.length === 0) {\n  errors.push(`No images found for theme=\"${theme}\" and vehicle=\"${vehicle}\"`);\n}\nif (filteredHeadlines.length === 0) {\n  errors.push(`No headlines found for theme=\"${theme}\" and vehicle=\"${vehicle}\"`);\n}\nif (filteredBodyCopy.length === 0) {\n  errors.push(`No body copy found for theme=\"${theme}\" and vehicle=\"${vehicle}\"`);\n}\nif (filteredHeadlines.length < 2) {\n  warnings.push(`Only ${filteredHeadlines.length} headline example(s) available — ideally 2+ for few-shot prompting`);\n}\nif (filteredBodyCopy.length < 2) {\n  warnings.push(`Only ${filteredBodyCopy.length} body copy example(s) available — ideally 2+ for few-shot prompting`);\n}\n\n// --- BUILD OUTPUT PACKAGE ---\n\nconst contentPackage = {\n  packageId: `pkg-${Date.now()}-${Math.random().toString(36).substring(2, 7)}`,\n  generatedAt: new Date().toISOString(),\n  \n  params: {\n    theme,\n    platform,\n    vehicle\n  },\n  \n  image: selectedImage ? {\n    id: selectedImage.id,\n    filename: selectedImage.filename,\n    path: selectedImage.path,\n    category: selectedImage.category,\n    vehicle: selectedImage.vehicle,\n    shotType: selectedImage.shot_type,\n    themes: selectedImage.themes,\n    notes: selectedImage.notes\n  } : null,\n  \n  examples: {\n    headlines: filteredHeadlines.map(hl => ({\n      id: hl.id,\n      text: hl.text,\n      tone: hl.tone,\n      characterCount: hl.character_count\n    })),\n    bodyCopy: filteredBodyCopy.map(bc => ({\n      id: bc.id,\n      text: bc.text,\n      length: bc.length,\n      wordCount: bc.word_count\n    })),\n    ctas: filteredCTAs.slice(0, 3).map(cta => ({\n      id: cta.id,\n      text: cta.text,\n      intent: cta.intent\n    }))\n  },\n  \n  template: {\n    platform,\n    maxCharacters: templateData.template.constraints.max_characters,\n    optimalCharacters: templateData.template.constraints.optimal_characters,\n    hashtagCount: templateData.template.structure.find(s => s.element === 'hashtags')?.count || 5,\n    hashtagPool: templateData.template.hashtag_pool,\n    formatting: templateData.template.formatting,\n    constraints: {\n      avoidExclamationMarks: templateData.template.constraints.avoid_exclamation_marks,\n      spelling: templateData.template.constraints.spelling\n    }\n  },\n  \n  validation: {\n    isValid: errors.length === 0,\n    errors,\n    warnings,\n    counts: {\n      imagesMatched: filteredImages.length,\n      headlinesMatched: filteredHeadlines.length,\n      bodyCopyMatched: filteredBodyCopy.length,\n      ctasIncluded: Math.min(filteredCTAs.length, 3)\n    }\n  }\n};\n\nreturn [{ json: contentPackage }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[288,224],"id":"f595e95e-cde3-47e3-aa2e-8af3bb5ff347","name":"Assemble Content Package"},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[-176,-320],"id":"7a9939ce-4f6f-41ef-a6b8-1c331fdcf51f","name":"Extract Image Manifest JSON"},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[-176,-128],"id":"0db14122-82e6-4b07-a047-de24cd6539b4","name":"Extract Headlines JSON"},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[-176,80],"id":"33f62726-e28d-472e-9f20-5c87ed228280","name":"Extract Body Copy JSON"},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[-176,288],"id":"f5269893-8950-43c8-af12-da182b3bf5f4","name":"Extract CTAs JSON"},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[496,-16],"id":"9a53bbd3-83af-48ab-a40f-6e7a223bc4d9","name":"Extract Template JSON"}],"connections":{"Trigger":{"main":[[{"node":"Set Input Parameters","type":"main","index":0}]]},"Set Input Parameters":{"main":[[{"node":"Read Images Manifest","type":"main","index":0},{"node":"Read Headlines","type":"main","index":0},{"node":"Read Body Copy","type":"main","index":0},{"node":"Read CTAs","type":"main","index":0}]]},"Read Headlines":{"main":[[{"node":"Extract Headlines JSON","type":"main","index":0}]]},"Read Images Manifest":{"main":[[{"node":"Extract Image Manifest JSON","type":"main","index":0}]]},"Read Body Copy":{"main":[[{"node":"Extract Body Copy JSON","type":"main","index":0}]]},"Read CTAs":{"main":[[{"node":"Extract CTAs JSON","type":"main","index":0}]]},"Merge Assets":{"main":[[{"node":"Read Platform Template","type":"main","index":0}]]},"Read Platform Template":{"main":[[{"node":"Extract Template JSON","type":"main","index":0}]]},"Extract Image Manifest JSON":{"main":[[{"node":"Merge Assets","type":"main","index":0}]]},"Extract Headlines JSON":{"main":[[{"node":"Merge Assets","type":"main","index":1}]]},"Extract Body Copy JSON":{"main":[[{"node":"Merge Assets","type":"main","index":2}]]},"Extract CTAs JSON":{"main":[[{"node":"Merge Assets","type":"main","index":3}]]},"Extract Template JSON":{"main":[[{"node":"Assemble Content Package","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"34eedcd4-6e0c-4801-b290-fa0d34f66edc","activeVersionId":null,"versionCounter":14,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-01-05T10:46:28.751Z","createdAt":"2026-01-05T10:46:28.751Z","role":"workflow:owner","workflowId":"eHXVvbWNEXKCmkbv","projectId":"B6PPf1vWVgM1PWbx","project":{"updatedAt":"2025-12-19T14:09:11.868Z","createdAt":"2025-12-19T11:25:09.036Z","id":"B6PPf1vWVgM1PWbx","name":"Chris Tregaskis <c.tregaskis@gmail.com>","type":"personal","icon":null,"description":null}}]}