n8n/demo-data/workflows/nesKA5lo6dQJVYOw.json
{"updatedAt":"2026-01-08T17:19:54.136Z","createdAt":"2026-01-06T09:26:31.251Z","id":"nesKA5lo6dQJVYOw","name":"MCG:POC:W3 Slack Notifier","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-688,144],"id":"8d7863ad-b5a2-4ba5-b560-9cffadda8fcb","name":"When clicking ‘Execute workflow’"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"#content-review","mode":"name"},"text":"Hello from n8n","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[-160,-352],"id":"40a9d6fa-ab84-47bc-a893-de5b3252247b","name":"Send a message","webhookId":"c7e7e12e-ac13-44a5-b661-4918efa244f3","credentials":{"slackApi":{"id":"bBhJSNFMbf1KHDiv","name":"Slack account"}}},{"parameters":{"fileSelector":"={{ $('Merge Draft Inputs').item.json.summary.filePath }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[16,-16],"id":"21819fc6-ff50-4b21-adcd-912f5cc1225b","name":"Read Draft File"},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[224,-16],"id":"91941a02-02e0-47d9-b3ec-baf2c41d316c","name":"Extract Draft JSON"},{"parameters":{"jsCode":"const items = $input.all();\nconst textContent = items[0].json.data;\nconst draft = textContent[0].draft;\n\n// TODO: Update workflow 2 and 3 to ensure imageURL included. This map here for ease and POC!\n// URL lookup map (for drafts created before manifest update)\nconst imageUrlMap = {\n  'products/supersports-rear.jpg': 'http://artofbrand.se/wp-content/uploads/2015/11/Automotive_Bentley_Supersport_006.jpg',\n  'products/supersports-profile.jpg': 'http://artofbrand.se/wp-content/uploads/2015/11/Automotive_Bentley_Supersport_007.jpg',\n  'products/supersports-detail.jpg': 'http://artofbrand.se/wp-content/uploads/2015/11/Automotive_Bentley_Supersport_010.jpg',\n  'products/supersports-showroom.jpg': 'https://artofbrand.se/wp-content/uploads/2015/11/Automotive_Bentley_Supersport_005B.jpg',\n  'products/engine-heritage-plaque.jpg': 'https://artofbrand.se/wp-content/uploads/2015/11/Automotive_Bentley_Supersport_003B.jpg',\n  'products/continental-driving.jpg': 'http://artofbrand.se/wp-content/uploads/2015/11/Automotive_Bentley-Continental_012.jpg',\n  'products/mulsanne-studio.jpg': 'https://artofbrand.se/wp-content/uploads/2015/11/Automotive_Bentley-Mulsanne_003A.jpg',\n  'lifestyle/silhouette-car-owner-bw.jpg': 'https://artofbrand.se/wp-content/uploads/2014/11/People_Bentley-Motors_002.jpg',\n  'lifestyle/owner-portrait-bw.jpg': 'https://artofbrand.se/wp-content/uploads/2014/11/People_Bentley-Motors_007.jpg',\n  'lifestyle/craftsmanship-wood-veneer.jpg': 'https://artofbrand.se/wp-content/uploads/2015/11/Automotive_Bentley-Continental_010A.jpg',\n  'lifestyle/environment-tree.jpg': 'https://artofbrand.se/wp-content/uploads/2015/11/Automotive_Bentley-Continental_010B.jpg',\n  'brand/ad-mulsanne-print.jpg': 'http://artofbrand.se/wp-content/uploads/2014/11/clients_Bentley_3041.jpg',\n  'brand/ad-supersport-print-01.jpg': 'http://artofbrand.se/wp-content/uploads/2014/11/clients_Bentley_3051.jpg',\n  'brand/ad-supersport-print-02.jpg': 'http://artofbrand.se/wp-content/uploads/2014/11/clients_Bentley_3061.jpg',\n  'brand/ad-continental-print.jpg': 'http://artofbrand.se/wp-content/uploads/2014/11/clients_Bentley_303.jpg',\n  'brand/website-mulsanne.jpg': 'http://artofbrand.se/wp-content/uploads/2014/11/clients_Bentley_3091.jpg',\n  'brand/website-continental.jpg': 'http://artofbrand.se/wp-content/uploads/2014/11/clients_Bentley_308.jpg',\n  'brand/abstract-bokeh.jpg': 'https://artofbrand.se/wp-content/uploads/2015/11/Automotive_Bentley_Supersport_005A.jpg',\n  'events/motorshow-frankfurt-01.jpg': 'https://artofbrand.se/wp-content/uploads/2014/11/clients_Bentley_5011.jpg',\n  'events/motorshow-frankfurt-02.jpg': 'https://artofbrand.se/wp-content/uploads/2014/11/clients_Bentley_5041.jpg',\n  'events/ice-record-01.jpg': 'https://artofbrand.se/wp-content/uploads/2014/11/clients_Bentley_5071.jpg',\n  'events/ice-record-02.jpg': 'https://artofbrand.se/wp-content/uploads/2014/11/clients_Bentley_5081.jpg'\n};\n\n// Get image URL from draft or lookup\nconst imagePath = draft.image.path;\nconst imageUrl = draft.image.url || imageUrlMap[imagePath] || null;\n\nreturn [{\n  json: {\n    draft: draft,\n    draftId: draft.draftId,\n    platform: draft.params.platform,\n    theme: draft.params.theme,\n    vehicle: draft.params.vehicle,\n    headline: draft.generatedContent.headline,\n    bodyCopy: draft.generatedContent.bodyCopy,\n    cta: draft.generatedContent.cta,\n    hashtags: draft.generatedContent.hashtags.join(' '),\n    totalCharacters: draft.validation.totalCharacters,\n    maxCharacters: 2200,\n    isValid: draft.validation.isValid,\n    imagePath: imagePath,\n    imageFilename: draft.image.filename,\n    imageUrl: imageUrl\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[432,-16],"id":"22972636-eba4-437b-86ac-fe34e2982713","name":"Parse Draft"},{"parameters":{"jsCode":"const data = $input.first().json;\n\n// Build Slack Block Kit message\nconst blocks = [\n  // Header\n  {\n    type: \"header\",\n    text: {\n      type: \"plain_text\",\n      text: \"📝 Content Review Request\",\n      emoji: true\n    }\n  },\n  // Draft ID context\n  {\n    type: \"context\",\n    elements: [\n      {\n        type: \"mrkdwn\",\n        text: `*Draft ID:* \\`${data.draftId}\\``\n      }\n    ]\n  },\n  {\n    type: \"divider\"\n  }\n];\n\n// Add image block if URL is available\nif (data.imageUrl) {\n  blocks.push({\n    type: \"image\",\n    image_url: data.imageUrl,\n    alt_text: data.imageFilename || \"Marketing image\"\n  });\n  blocks.push({\n    type: \"context\",\n    elements: [\n      {\n        type: \"mrkdwn\",\n        text: `📷 *Image:* ${data.imagePath}`\n      }\n    ]\n  });\n  blocks.push({\n    type: \"divider\"\n  });\n}\n\n// Add content sections\nblocks.push(\n  // Headline section\n  {\n    type: \"section\",\n    text: {\n      type: \"mrkdwn\",\n      text: `*Headline*\\n\"${data.headline}\"`\n    }\n  },\n  // Body copy section\n  {\n    type: \"section\",\n    text: {\n      type: \"mrkdwn\",\n      text: `*Body Copy*\\n${data.bodyCopy}`\n    }\n  },\n  // CTA section\n  {\n    type: \"section\",\n    text: {\n      type: \"mrkdwn\",\n      text: `*Call to Action*\\n${data.cta}`\n    }\n  },\n  // Hashtags\n  {\n    type: \"section\",\n    text: {\n      type: \"mrkdwn\",\n      text: `*Hashtags*\\n${data.hashtags}`\n    }\n  },\n  {\n    type: \"divider\"\n  },\n  // Metadata context\n  {\n    type: \"context\",\n    elements: [\n      {\n        type: \"mrkdwn\",\n        text: `*Platform:* ${data.platform} | *Theme:* ${data.theme} | *Vehicle:* ${data.vehicle}`\n      },\n      {\n        type: \"mrkdwn\",\n        text: `*Characters:* ${data.totalCharacters}/${data.maxCharacters} | *Valid:* ${data.isValid ? '✅' : '❌'}`\n      }\n    ]\n  },\n  {\n    type: \"divider\"\n  },\n  // Action buttons\n  {\n    type: \"actions\",\n    block_id: \"approval_actions\",\n    elements: [\n      {\n        type: \"button\",\n        text: {\n          type: \"plain_text\",\n          text: \"✅ Approve\",\n          emoji: true\n        },\n        style: \"primary\",\n        action_id: \"approve_content\",\n        value: data.draftId\n      },\n      {\n        type: \"button\",\n        text: {\n          type: \"plain_text\",\n          text: \"❌ Reject\",\n          emoji: true\n        },\n        style: \"danger\",\n        action_id: \"reject_content\",\n        value: data.draftId\n      },\n      {\n        type: \"button\",\n        text: {\n          type: \"plain_text\",\n          text: \"✏️ Request Changes\",\n          emoji: true\n        },\n        action_id: \"request_changes\",\n        value: data.draftId\n      }\n    ]\n  }\n);\n\nreturn [{\n  json: {\n    blocks: blocks,\n    draftId: data.draftId,\n    text: `Content review requested for ${data.draftId}`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[640,-16],"id":"dd0dc9c7-dcd4-44ed-8245-59f5c517cbe8","name":"Build Slack Blocks"},{"parameters":{"content":"## Basic message sent to slack\nSimple setting WORKING for sending defined message to slack.","height":304,"width":304},"type":"n8n-nodes-base.stickyNote","position":[-192,-496],"typeVersion":1,"id":"8ed42531-2480-44ac-ba30-75f09d53bdd7","name":"Sticky Note"},{"parameters":{"content":"## Attempt at blocks\nIdeally, we'd send a slack block message, image... header... body... tags. This isn't working! The fall back is what is recieved.","height":320,"width":304},"type":"n8n-nodes-base.stickyNote","position":[160,-496],"typeVersion":1,"id":"7b649d8b-e20a-4b55-b10c-6aeafc4befcd","name":"Sticky Note1"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"content-review","mode":"name"},"messageType":"block","blocksUi":"={{ JSON.stringify($json.blocks) }}","text":"={{ $json.text }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[192,-352],"id":"ebcc4f5b-37f2-4a93-8630-e26d5a1f4274","name":"Send to Slack NOTWORKING","webhookId":"6d2bc3d1-f65b-4d7e-986a-0e3cde106cf5","credentials":{"slackApi":{"id":"bBhJSNFMbf1KHDiv","name":"Slack account"}}},{"parameters":{"method":"POST","url":"https://slack.com/api/chat.postMessage","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"channel","value":"content-review"},{"name":"blocks","value":"={{ $json.blocks }}"},{"name":"text","value":"={{ $json.text }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[848,-16],"id":"f9c720c8-9905-4c51-b0d2-f0a2eacb8bdc","name":"Send to Slack","credentials":{"httpBearerAuth":{"id":"tRHPQlyqCmaFu3pX","name":"Slack Bot Token"}}},{"parameters":{"assignments":{"assignments":[{"id":"5d1d7578-2143-47f4-b25a-f4c273f1880d","name":"status","value":"sent","type":"string"},{"id":"46e43958-226c-4f92-9a16-6a4b66003509","name":"draftId","value":"={{ $('Build Slack Blocks').item.json.draftId }}","type":"string"},{"id":"337f67d6-3011-488e-8a8e-f7dce3b6d263","name":"slackMessageTs","value":"={{ $('Send to Slack').item.json.ts }}","type":"string"},{"id":"7e019906-6f96-4785-a5b4-a01a5bfa7815","name":"slackChannel","value":"={{ $('Send to Slack').item.json.channel }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1056,-16],"id":"26ac935b-eb7f-43a2-9bd3-c179f593a019","name":"Output Confirmation"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-576,-112],"id":"2d4b7424-ff2a-4489-b25c-6f233a3006e8","name":"When Executed by Another Workflow"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"summary\": {\n    \"filePath\": \"/data/shared/output/drafts/draft-20260108T171327-hyixwn.json\"\n  }\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-448,144],"id":"4c8843d2-d862-4c7b-bf23-6f8a9fb7a448","name":"Set Test Draft Path"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-192,-16],"id":"3acecd1c-71f1-4db0-904a-63a75bfe9a9a","name":"Merge Draft Inputs"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Set Test Draft Path","type":"main","index":0}]]},"Read Draft File":{"main":[[{"node":"Extract Draft JSON","type":"main","index":0}]]},"Extract Draft JSON":{"main":[[{"node":"Parse Draft","type":"main","index":0}]]},"Parse Draft":{"main":[[{"node":"Build Slack Blocks","type":"main","index":0}]]},"Build Slack Blocks":{"main":[[{"node":"Send to Slack","type":"main","index":0}]]},"Send to Slack":{"main":[[{"node":"Output Confirmation","type":"main","index":0}]]},"Set Test Draft Path":{"main":[[{"node":"Merge Draft Inputs","type":"main","index":1}]]},"Merge Draft Inputs":{"main":[[{"node":"Read Draft File","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Merge Draft Inputs","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a9d073f8-c7fa-488a-98f3-4a0f83baa54e","activeVersionId":"a9d073f8-c7fa-488a-98f3-4a0f83baa54e","versionCounter":25,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-01-06T09:26:31.251Z","createdAt":"2026-01-06T09:26:31.251Z","role":"workflow:owner","workflowId":"nesKA5lo6dQJVYOw","projectId":"B6PPf1vWVgM1PWbx","project":{"updatedAt":"2025-12-19T14:09:11.868Z","createdAt":"2025-12-19T11:25:09.036Z","id":"B6PPf1vWVgM1PWbx","name":"Chris Tregaskis <c.tregaskis@gmail.com>","type":"personal","icon":null,"description":null}}]}