n8n/demo-data/workflows/oEcREjuNvfjVSgWE.json
{"updatedAt":"2026-01-08T13:14:39.671Z","createdAt":"2026-01-07T11:12:43.532Z","id":"oEcREjuNvfjVSgWE","name":"MCG:POC:W4 Approval Handler","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"approval-handler","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"d8c3c796-300e-4ec6-ae09-b1d67cc067a6","name":"Slack Webhook","webhookId":"2b2af257-ea00-4c5d-ba7f-64327fefc948"},{"parameters":{"jsCode":"const items = $input.all();\nconst firstItem = items[0];\n\n// Handle both test mode (direct JSON) and production (form-encoded)\nlet payload;\nif (firstItem.json.body && firstItem.json.body.payload) {\n  payload = JSON.parse(firstItem.json.body.payload);\n} else if (firstItem.json.type) {\n  payload = firstItem.json;\n} else {\n  throw new Error(\"Unable to parse Slack payload\");\n}\n\nconst payloadType = payload.type;\nconst user = payload.user;\nconst triggerId = payload.trigger_id;\n\nconst output = {\n  payloadType,\n  triggerId,\n  userId: user?.id,\n  userName: user?.username || user?.name,\n  rawPayload: payload,\n};\n\n// Button clicks (block_actions)\nif (payloadType === \"block_actions\" && payload.actions?.length > 0) {\n  const action = payload.actions[0];\n  output.actionId = action.action_id;\n  output.draftId = action.value;\n  output.channelId = payload.channel?.id;\n  output.messageTs = payload.message?.ts;\n  output.responseUrl = payload.response_url;\n}\n\n// Modal submissions (view_submission)\nif (payloadType === \"view_submission\") {\n  const view = payload.view;\n  output.callbackId = view?.callback_id;\n\n  if (view?.private_metadata) {\n    try {\n      output.privateMetadata = JSON.parse(view.private_metadata);\n    } catch (e) {\n      output.privateMetadata = { raw: view.private_metadata };\n    }\n  }\n\n  const values = view?.state?.values;\n  if (values?.feedback_input?.feedback_text?.value) {\n    output.feedbackText = values.feedback_input.feedback_text.value;\n  }\n}\n\nreturn [{ json: output }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,0],"id":"e9fa7357-7f23-4994-a29c-17387241050b","name":"Parse Slack Payload"},{"parameters":{"content":"### Slack payloads\nThis code handles two types of Slack payloads:\n\n- `block_actions`: When someone clicks a button (Approve/Reject/Request Changes)\n- `view_submission`: When someone submits the feedback modal\n\n### Webhook reponse\nThis is critical — Slack expects a response within 3 seconds, otherwise it'll show an error to the user. We acknowledge immediately, then continue processing in the background.\n","height":304,"width":464},"type":"n8n-nodes-base.stickyNote","position":[144,-336],"typeVersion":1,"id":"873d6367-65ad-4efa-a373-3bfe077aebe3","name":"Sticky Note"},{"parameters":{"respondWith":"text","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[416,0],"id":"0ad317a6-6db9-411f-aa91-c0a701aa6db2","name":"Respond to Webhook"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"50bdd88e-e715-42bc-bf47-9bb5f8de6017","leftValue":"={{ $json.payloadType }}","rightValue":"block_actions","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Button Click"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"8bda17d2-3f9e-461c-b451-9732b3089b0b","leftValue":"={{ $json.payloadType }}","rightValue":"view_submission","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Modal Submit"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[624,0],"id":"13606f68-34b2-4545-a81a-bf6acde76db3","name":"Route by Payload Type"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.actionId }}","rightValue":"approve_content","operator":{"type":"string","operation":"equals"},"id":"49befef2-344a-4349-952b-6092870c3708"}],"combinator":"and"},"renameOutput":true,"outputKey":"Approve"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"28c1cc2c-abaa-489e-8d1d-5b97e463a5fc","leftValue":"={{ $json.actionId }}","rightValue":"reject_content","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Reject"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e61b0983-fde2-4869-ad83-9aee6234a566","leftValue":"={{ $json.actionId }}","rightValue":"request_changes","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Request Changes"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[864,-256],"id":"b914a9ea-a265-4b2f-ba38-28b5df8b2f85","name":"Route by Action"},{"parameters":{"jsCode":"const payload = $('Parse Slack Payload').first().json;\n\nconst rejectionRecord = {\n  draftId: payload.draftId,\n  status: 'rejected',\n  rejectedAt: new Date().toISOString(),\n  rejectedBy: {\n    userId: payload.userId,\n    userName: payload.userName\n  },\n  draftPath: `/data/shared/output/drafts/${payload.draftId}.json`,\n  responseUrl: payload.responseUrl,\n  channelId: payload.channelId,\n  messageTs: payload.messageTs\n};\n\nreturn [{ json: rejectionRecord }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1216,-352],"id":"1e92e98c-bf35-4f15-b3d4-81d71a863f28","name":"Build Rejection Record"},{"parameters":{"operation":"toJson","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1424,-352],"id":"cfdc6bb3-4958-4db2-9040-b7bf6aab8691","name":"Convert Rejection to File"},{"parameters":{"operation":"write","fileName":"=/data/shared/output/rejected/{{ $('Build Rejection Record').item.json.draftId }}.json","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1632,-352],"id":"4c60cd9e-e9c0-4525-b0d0-7039569a6d03","name":"Save Rejection Record"},{"parameters":{"method":"POST","url":"={{ $('Build Rejection Record').item.json.responseUrl }}","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"replace_original\": true,\n  \"text\": \"Content rejected\",\n  \"blocks\": [\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Content Rejected*\\n\\nDraft `{{ $('Parse Slack Payload').item.json.draftId }}` was rejected by <@{{ $('Parse Slack Payload').item.json.userId }}>.\"\n      }\n    },\n    {\n      \"type\": \"context\",\n      \"elements\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"Rejected at {{ $now.toISO() }}\"\n        }\n      ]\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1840,-352],"id":"5ea3e93b-4e04-44d2-8e47-54ebcf40a92e","name":"Update Slack: Rejected"},{"parameters":{"assignments":{"assignments":[{"id":"00487f0f-b203-4073-b33b-832e64dc1343","name":"action","value":"rejected","type":"string"},{"id":"2b89a584-0eea-40fb-91c1-fd12ffa73e89","name":"draftId","value":"={{ $('Parse Slack Payload').item.json.draftId }}","type":"string"},{"id":"33141ee6-2a17-4857-8432-cd63a8f3500e","name":"rejectedBy","value":"={{ $('Parse Slack Payload').item.json.userName }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2048,-352],"id":"85799bb5-c41c-4ba9-ae23-f075866228e9","name":"Reject Complete"},{"parameters":{"method":"POST","url":"https://slack.com/api/views.open","authentication":"predefinedCredentialType","nodeCredentialType":"slackApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1440,-80],"id":"bb533d0e-16c9-478f-8a85-7abed403fd8e","name":"Open Feedback Modal","credentials":{"slackApi":{"id":"bBhJSNFMbf1KHDiv","name":"Slack account"}}},{"parameters":{"content":"### Slack Modal & private_metadata\nA Slack modal is a popup dialog that appears over the Slack interface when triggered. Unlike messages, modals allow structured user input (text fields, dropdowns, etc.) and return that input via a `view_submission` webhook event when the user clicks Submit.\n\n**The challenge**: when Slack sends the `view_submission` event, it's a separate HTTP request with no inherent link to the original button click. We lose context about which draft triggered it.\n\n**Solution**: `private_metadata` is a string field we embed in the modal definition. Slack stores it and returns it verbatim in the submission payload. We use it to pass forward:\n\n`draft_id` — which draft needs revision\n`channel_id` — where to post the revised content\n`message_ts` — timestamp of the original message (for threading/updating)\n\nThis creates continuity between the button click (Request Changes) and the modal submission (user's feedback).","height":320,"width":1040},"type":"n8n-nodes-base.stickyNote","position":[1808,-176],"typeVersion":1,"id":"c9738dab-e088-402f-956f-70063b327100","name":"Sticky Note1"},{"parameters":{"assignments":{"assignments":[{"id":"60a2e35e-ceef-4cd3-9070-d6fe6e6bd0fb","name":"action","value":"modal_opened","type":"string"},{"id":"b1089338-a386-43a5-b9a8-50384a3983e5","name":"draftId","value":"={{ $('Parse Slack Payload').item.json.draftId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1648,-80],"id":"85e7d36d-fa99-439b-824a-208765a16370","name":"Modal Opened"},{"parameters":{"assignments":{"assignments":[{"id":"a39c8ecf-01f8-4906-adae-f04c27ec0024","name":"draftId","value":"={{ $('Parse Slack Payload').item.json.privateMetadata?.draft_id }}","type":"string"},{"id":"d56d2e95-a53a-4d38-a0be-a9c42a127cce","name":"channelId","value":"={{ $('Parse Slack Payload').item.json.privateMetadata?.channel_id }}","type":"string"},{"id":"b7277eaf-e14d-4134-af34-a12e383c9d5c","name":"messageTs","value":"={{ $('Parse Slack Payload').item.json.privateMetadata?.message_ts }}","type":"string"},{"id":"b59732b6-9cf5-46b1-9998-0e94f624eea2","name":"feedbackText","value":"={{ $('Parse Slack Payload').item.json.feedbackText }}","type":"string"},{"id":"8c1f3bb1-04ef-4dcb-ae03-896418e5a52a","name":"userName","value":"={{ $('Parse Slack Payload').item.json.userName }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[864,240],"id":"37e1b95b-54f2-4da0-b352-dc081056e3cf","name":"Extract Modal Data"},{"parameters":{"content":"### Extract metadata we set\n\nWe set `private_metadata`  in Open Feedback Model\n\nThis extracts the data we stored in private_metadata plus the feedback text from the modal submission.","width":384},"type":"n8n-nodes-base.stickyNote","position":[800,416],"typeVersion":1,"id":"6cf8901f-3110-4f85-b588-55810972b112","name":"Sticky Note2"},{"parameters":{"fileSelector":"=/data/shared/output/drafts/{{ $json.draftId }}.json","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1072,240],"id":"e37a07ba-a051-4d9e-925f-6b385f605dfa","name":"Read Original Draft"},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[1280,240],"id":"99c8197f-d13e-4f00-a332-49514c30aced","name":"Extract Draft JSON"},{"parameters":{"jsCode":"const fileContent = $input.first().json.data;\nconst draftData = fileContent[0];\nconst draft = draftData.draft;\n\nconst modalData = $('Extract Modal Data').first().json;\nconst original = draft.generatedContent;\nconst params = draft.params;\n\nconst baseDraftId = draft.draftId.replace(/_v\\d+$/, '');\nconst currentVersion = draft.revision?.revisionNumber || 1;\nconst newVersion = currentVersion + 1;\n\nreturn [{\n  json: {\n    originalHeadline: original.headline,\n    originalBodyCopy: original.bodyCopy,\n    originalCta: original.cta,\n    originalHashtags: original.hashtags.join(', '),\n    platform: params.platform,\n    theme: params.theme,\n    vehicle: params.vehicle,\n    imageFilename: draft.image?.filename,\n    imagePath: draft.image?.path,\n    feedbackText: modalData.feedbackText,\n    baseDraftId,\n    originalDraftId: draft.draftId,\n    newVersion,\n    newDraftId: `${baseDraftId}_v${newVersion}`,\n    channelId: modalData.channelId,\n    messageTs: modalData.messageTs,\n    userName: modalData.userName,\n    originalDraft: draft\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1488,240],"id":"3817d849-14f5-4ff8-9476-3c4162aef89f","name":"Build Revision Context"},{"parameters":{"content":"### Build Revision Context\n\nThis extracts the original content and prepares versioning info for the revision (e.g., draft-123 becomes draft-123_v2).","height":128,"width":384},"type":"n8n-nodes-base.stickyNote","position":[1216,416],"typeVersion":1,"id":"14b16fd1-64ca-4e2c-9d8f-c60931b67e9f","name":"Sticky Note3"},{"parameters":{"fileSelector":"/data/shared/marketing-assets/brand-guidelines/voice-and-tone.md","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1696,240],"id":"46e6f66d-0daa-4663-a5cf-7a4cb18d003f","name":"Read Brand Guidelines"},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[1904,240],"id":"e8ee1a34-7586-4cea-9f41-ddebafe55fe5","name":"Extract Brand Guidelines"},{"parameters":{"jsCode":"const brandGuidelines = $input.first().json.data;\nconst context = $('Build Revision Context').first().json;\n\nconst prompt = `You are a senior copywriter for Bentley Motors. You previously generated social media content that needs revision.\n\n## Brand Voice Guidelines (excerpt)\n${brandGuidelines.substring(0, 2500)}\n\n## Original Content\n**Platform:** ${context.platform}\n**Theme:** ${context.theme}\n**Vehicle:** ${context.vehicle}\n\n**Headline:** ${context.originalHeadline}\n**Body Copy:** ${context.originalBodyCopy}\n**Call to Action:** ${context.originalCta}\n**Hashtags:** ${context.originalHashtags}\n\n## Reviewer Feedback\n\"${context.feedbackText}\"\n\n## Your Task\nGenerate a revised version addressing the feedback while:\n- Maintaining Bentley's brand voice (sophisticated, confident, understated luxury)\n- Using British English spelling throughout\n- Avoiding exclamation marks entirely\n- Keeping within platform character limits (Instagram: 2200 chars max)\n- Using exactly 5 hashtags from: #BentleyMotors, #Craftsmanship, #ContinentalGT, #FlyingSpur, #Bentayga, #BritishLuxury, #Handcrafted, #ExtraordinaryJourneys, #BentleyLife, #Performance\n\n## Output Format\nReturn ONLY valid JSON:\n{\n  \"headline\": \"Your revised headline\",\n  \"bodyCopy\": \"Your revised body copy\",\n  \"cta\": \"Your revised call to action\",\n  \"hashtags\": [\"#Tag1\", \"#Tag2\", \"#Tag3\", \"#Tag4\", \"#Tag5\"],\n  \"revisionNotes\": \"Brief explanation of changes\"\n}`;\n\nreturn [{ json: { prompt, context } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2112,240],"id":"d5222514-ebd0-47b9-9270-d5422de8de1c","name":"Build Revision Prompt"},{"parameters":{"modelId":{"__rl":true,"value":"claude-sonnet-4-20250514","mode":"list","cachedResultName":"claude-sonnet-4-20250514"},"messages":{"values":[{"content":"={{ $json.prompt }}"}]},"options":{"maxTokens":1024}},"type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[2320,240],"id":"b29fafc5-ffad-40e5-9dac-4b84a6ad5954","name":"Claude: Generate Revision","credentials":{"anthropicApi":{"id":"p9QWuxkACyYtUdYt","name":"Anthropic account"}}},{"parameters":{"jsCode":"const inputData = $input.first().json;\n\n// Handle different Anthropic response structures\nlet response;\nif (inputData.message?.content) {\n  response = inputData.message.content;\n} else if (inputData.content?.[0]?.text) {\n  response = inputData.content[0].text;\n} else {\n  throw new Error('Unable to find Claude response content');\n}\n\nconst context = $('Build Revision Prompt').first().json.context;\n\nlet jsonStr = response;\nif (response.includes('```json')) {\n  jsonStr = response.replace(/```json\\n?/g, '').replace(/```\\n?/g, '');\n} else if (response.includes('```')) {\n  jsonStr = response.replace(/```\\n?/g, '');\n}\njsonStr = jsonStr.trim();\n\nconst parsed = JSON.parse(jsonStr);\n\nconst totalChars = (parsed.headline || '').length +\n  (parsed.bodyCopy || '').length +\n  (parsed.cta || '').length +\n  (parsed.hashtags || []).join(' ').length;\n\nconst now = new Date();\nconst revisedDraft = {\n  draftId: context.newDraftId,\n  createdAt: now.toISOString(),\n  status: 'pending_review',\n  sourcePackageId: context.originalDraft.sourcePackageId,\n  params: context.originalDraft.params,\n  image: context.originalDraft.image,\n  generatedContent: {\n    headline: parsed.headline,\n    bodyCopy: parsed.bodyCopy,\n    cta: parsed.cta,\n    hashtags: parsed.hashtags,\n    totalCharacters: totalChars\n  },\n  validation: {\n    isValid: true,\n    errors: [],\n    warnings: [],\n    totalCharacters: totalChars,\n    bodyCharacters: (parsed.bodyCopy || '').length,\n    hashtagCount: (parsed.hashtags || []).length\n  },\n  formattedPost: [\n    parsed.headline,\n    '',\n    parsed.bodyCopy,\n    '',\n    parsed.cta,\n    '',\n    (parsed.hashtags || []).join(' ')\n  ].join('\\n'),\n  revision: {\n    revisionOf: context.originalDraftId,\n    revisionNumber: context.newVersion,\n    feedbackReceived: context.feedbackText,\n    revisionNotes: parsed.revisionNotes,\n    revisedBy: context.userName\n  }\n};\n\nconst fileContent = [{\n  draft: revisedDraft,\n  filename: `${context.newDraftId}.json`,\n  filePath: `/data/shared/output/drafts/${context.newDraftId}.json`\n}];\n\nreturn [{\n  json: {\n    fileContent,\n    draftId: context.newDraftId,\n    channelId: context.channelId,\n    messageTs: context.messageTs,\n    draft: revisedDraft\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1696,464],"id":"dc013c45-1f7f-40a2-93ae-639662c2a510","name":"Parse Revision Response"},{"parameters":{"operation":"toJson","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1904,464],"id":"4cece528-121e-496c-8a7e-6656414a8052","name":"Convert Revision to File"},{"parameters":{"operation":"write","fileName":"=/data/shared/output/drafts/{{ $('Parse Revision Response').item.json.draftId }}.json","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[2112,464],"id":"c94288ac-1e9f-46f3-bb67-101ccf50cdc3","name":"Save Revised Draft"},{"parameters":{"jsCode":"const revisionData = $('Parse Revision Response').first().json;\nconst draft = revisionData.draft;\nconst content = draft.generatedContent;\n\n// TODO Post POC cleanup, update workflow 2 with this metadata\n// URL lookup map (matching Slack Notifier workflow)\nconst imageUrlMap = {\n  'products/supersports-rear.jpg': 'http://artofbrand.se/wp-content/uploads/2015/11/Automotive_Bentley_Supersport_006.jpg',\n  'products/supersports-profile.jpg': 'http://artofbrand.se/wp-content/uploads/2015/11/Automotive_Bentley_Supersport_007.jpg',\n  'products/supersports-detail.jpg': 'http://artofbrand.se/wp-content/uploads/2015/11/Automotive_Bentley_Supersport_010.jpg',\n  'products/supersports-showroom.jpg': 'https://artofbrand.se/wp-content/uploads/2015/11/Automotive_Bentley_Supersport_005B.jpg',\n  'products/engine-heritage-plaque.jpg': 'https://artofbrand.se/wp-content/uploads/2015/11/Automotive_Bentley_Supersport_003B.jpg',\n  'products/continental-driving.jpg': 'http://artofbrand.se/wp-content/uploads/2015/11/Automotive_Bentley-Continental_012.jpg',\n  'products/mulsanne-studio.jpg': 'https://artofbrand.se/wp-content/uploads/2015/11/Automotive_Bentley-Mulsanne_003A.jpg',\n  'lifestyle/silhouette-car-owner-bw.jpg': 'https://artofbrand.se/wp-content/uploads/2014/11/People_Bentley-Motors_002.jpg',\n  'lifestyle/owner-portrait-bw.jpg': 'https://artofbrand.se/wp-content/uploads/2014/11/People_Bentley-Motors_007.jpg',\n  'lifestyle/craftsmanship-wood-veneer.jpg': 'https://artofbrand.se/wp-content/uploads/2015/11/Automotive_Bentley-Continental_010A.jpg',\n  'lifestyle/environment-tree.jpg': 'https://artofbrand.se/wp-content/uploads/2015/11/Automotive_Bentley-Continental_010B.jpg',\n  'brand/ad-mulsanne-print.jpg': 'http://artofbrand.se/wp-content/uploads/2014/11/clients_Bentley_3041.jpg',\n  'brand/ad-supersport-print-01.jpg': 'http://artofbrand.se/wp-content/uploads/2014/11/clients_Bentley_3051.jpg',\n  'brand/ad-supersport-print-02.jpg': 'http://artofbrand.se/wp-content/uploads/2014/11/clients_Bentley_3061.jpg',\n  'brand/ad-continental-print.jpg': 'http://artofbrand.se/wp-content/uploads/2014/11/clients_Bentley_304.jpg',\n  'brand/website-mulsanne.jpg': 'http://artofbrand.se/wp-content/uploads/2014/11/clients_Bentley_3091.jpg',\n  'brand/website-continental.jpg': 'http://artofbrand.se/wp-content/uploads/2014/11/clients_Bentley_308.jpg',\n  'brand/abstract-bokeh.jpg': 'https://artofbrand.se/wp-content/uploads/2015/11/Automotive_Bentley_Supersport_005A.jpg',\n  'events/motorshow-frankfurt-01.jpg': 'https://artofbrand.se/wp-content/uploads/2014/11/clients_Bentley_5011.jpg',\n  'events/motorshow-frankfurt-02.jpg': 'https://artofbrand.se/wp-content/uploads/2014/11/clients_Bentley_5041.jpg',\n  'events/ice-record-01.jpg': 'https://artofbrand.se/wp-content/uploads/2014/11/clients_Bentley_5071.jpg',\n  'events/ice-record-02.jpg': 'https://artofbrand.se/wp-content/uploads/2014/11/clients_Bentley_5081.jpg'\n};\n\nconst imagePath = draft.image?.path;\nconst imageUrl = draft.image?.url || imageUrlMap[imagePath] || 'https://via.placeholder.com/600x400?text=Image+Not+Found';\n\nconst blocks = [\n  {\n    type: 'header',\n    text: { type: 'plain_text', text: '✨ Revised Content for Review', emoji: true }\n  },\n  {\n    type: 'context',\n    elements: [{ type: 'mrkdwn', text: `*Draft:* \\`${draft.draftId}\\` | *Revision of:* \\`${draft.revision.revisionOf}\\`` }]\n  },\n  {\n    type: 'image',\n    image_url: imageUrl,\n    alt_text: draft.image?.filename || 'Content image'\n  },\n  {\n    type: 'section',\n    text: { type: 'mrkdwn', text: `*Headline*\\n${content.headline}` }\n  },\n  {\n    type: 'section',\n    text: { type: 'mrkdwn', text: `*Body Copy*\\n${content.bodyCopy}` }\n  },\n  {\n    type: 'section',\n    text: { type: 'mrkdwn', text: `*Call to Action*\\n${content.cta}` }\n  },\n  {\n    type: 'section',\n    text: { type: 'mrkdwn', text: `*Hashtags*\\n${content.hashtags.join(' ')}` }\n  },\n  { type: 'divider' },\n  {\n    type: 'context',\n    elements: [{ type: 'mrkdwn', text: `📝 *Feedback addressed:* \"${draft.revision.feedbackReceived}\"` }]\n  },\n  {\n    type: 'context',\n    elements: [{ type: 'mrkdwn', text: `💡 *What changed:* ${draft.revision.revisionNotes}` }]\n  },\n  {\n    type: 'context',\n    elements: [{ type: 'mrkdwn', text: `Platform: ${draft.params.platform} | Theme: ${draft.params.theme} | Chars: ${content.totalCharacters}/2200` }]\n  },\n  {\n    type: 'actions',\n    block_id: 'approval_actions',\n    elements: [\n      {\n        type: 'button',\n        text: { type: 'plain_text', text: '✅ Approve', emoji: true },\n        style: 'primary',\n        action_id: 'approve_content',\n        value: draft.draftId\n      },\n      {\n        type: 'button',\n        text: { type: 'plain_text', text: '❌ Reject', emoji: true },\n        style: 'danger',\n        action_id: 'reject_content',\n        value: draft.draftId\n      },\n      {\n        type: 'button',\n        text: { type: 'plain_text', text: '✏️ Request Changes', emoji: true },\n        action_id: 'request_changes',\n        value: draft.draftId\n      }\n    ]\n  }\n];\n\nreturn [{\n  json: {\n    blocks,\n    text: `Revised: ${draft.draftId}`,\n    channelId: revisionData.channelId,\n    messageTs: revisionData.messageTs,\n    draftId: draft.draftId\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2320,464],"id":"b462e0c7-4750-4ff6-8376-18a7250ebdba","name":"Build Revision Slack Blocks"},{"parameters":{"method":"POST","url":"https://slack.com/api/chat.postMessage","authentication":"predefinedCredentialType","nodeCredentialType":"slackApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"channel\": \"{{ $json.channelId }}\",\n  \"text\": \"{{ $json.text }}\",\n  \"blocks\": {{ JSON.stringify($json.blocks) }}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2528,464],"id":"4cf9974e-efa7-4697-8d36-b133ac248528","name":"Post Revision to Slack","credentials":{"slackApi":{"id":"bBhJSNFMbf1KHDiv","name":"Slack account"}}},{"parameters":{"assignments":{"assignments":[{"id":"6e09bc25-143d-4163-bd1e-d25089025715","name":"action","value":"revision_posted","type":"string"},{"id":"e764113e-2958-46b4-9948-314e19b9db66","name":"newDraftId","value":"={{ $('Build Revision Slack Blocks').item.json.draftId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2736,464],"id":"3a775632-3a29-49d5-a242-31d42b466710","name":"Revision Complete"},{"parameters":{"jsCode":"const payload = $('Parse Slack Payload').first().json;\n\nconst privateMetadata = JSON.stringify({\n  draft_id: payload.draftId,\n  channel_id: payload.channelId,\n  message_ts: payload.messageTs\n});\n\nconst modalPayload = {\n  trigger_id: payload.triggerId,\n  view: {\n    type: \"modal\",\n    callback_id: \"revision_feedback\",\n    private_metadata: privateMetadata,\n    title: { type: \"plain_text\", text: \"Request Changes\" },\n    submit: { type: \"plain_text\", text: \"Submit Feedback\" },\n    close: { type: \"plain_text\", text: \"Cancel\" },\n    blocks: [\n      {\n        type: \"section\",\n        text: {\n          type: \"mrkdwn\",\n          text: `*What changes would you like?*\\nDescribe adjustments for draft \\`${payload.draftId}\\`.`\n        }\n      },\n      {\n        type: \"input\",\n        block_id: \"feedback_input\",\n        element: {\n          type: \"plain_text_input\",\n          action_id: \"feedback_text\",\n          multiline: true,\n          placeholder: {\n            type: \"plain_text\",\n            text: \"e.g., Make headline more action-oriented...\"\n          }\n        },\n        label: { type: \"plain_text\", text: \"Feedback\" }\n      }\n    ]\n  }\n};\n\nreturn [{ json: modalPayload }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1216,-80],"id":"161af08a-4893-4821-bd48-d0986ff8bc98","name":"Build Modal Payload"},{"parameters":{"jsCode":"// Build Approval Record\n// Creates approval metadata from draft data\n// Extracts platform, theme, vehicle from draft file\n\n// Get the extracted draft data\nconst extractedData = $('Extract Draft JSON (Approved)').first().json;\nconst draft = extractedData.data[0].draft;\n\n// Extract from draft\nconst draftId = draft.draftId;\nconst platform = draft.params.platform;\nconst theme = draft.params.theme;\nconst vehicle = draft.params.vehicle;\n\n// Get Slack interaction data from Route by Action (the webhook input)\n// This is where responseUrl, channelId, etc. actually come from\nconst webhookInput = $('Route by Action').first().json;\nconst responseUrl = webhookInput.responseUrl;\nconst channelId = webhookInput.channelId;\nconst messageTs = webhookInput.messageTs;\nconst userId = webhookInput.userId;\n\n// Build approval record\nconst approvedAt = new Date().toISOString();\nconst approvalRecord = {\n  approvalId: `approval-${approvedAt.replace(/[-:]/g, '').replace(/\\.\\d{3}/, '').replace('T', 'T')}`,\n  draftId: draftId,\n  platform: platform,\n  decision: 'approved',\n  approvedBy: userId,\n  approvedAt: approvedAt,\n  draftPath: `/data/shared/output/drafts/${draftId}.json`\n};\n\n// Generate filenames for later nodes\nconst approvalFilename = `${approvalRecord.approvalId}.json`;\nconst renderedFilename = `${draftId}-rendered.html`;\n\nreturn [{\n  json: {\n    approvalRecord: approvalRecord,\n    approvalFilename: approvalFilename,\n    renderedFilename: renderedFilename,\n    // Draft content for rendering\n    draft: draft,\n    // Approval metadata for rendering\n    approvedAt: approvedAt,\n    approvedBy: userId,\n    // Platform/theme/vehicle for rendering\n    platform: platform,\n    theme: theme,\n    vehicle: vehicle,\n    // Slack data for response\n    responseUrl: responseUrl,\n    channelId: channelId,\n    messageTs: messageTs,\n    draftId: draftId\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1616,-848],"id":"24ceeab7-238a-4e56-92ea-ed51698636fd","name":"Build Approval Record"},{"parameters":{"operation":"toJson","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1824,-848],"id":"96a0377e-95e3-4774-a629-1f4a917ff239","name":"Convert Approval to File"},{"parameters":{"operation":"write","fileName":"={{ '/data/shared/output/approved/' + $('Build Approval Record').item.json.approvalFilename }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[2032,-848],"id":"db445415-b86b-4536-ad0e-c2cd0ec6a651","name":"Save Approval Record"},{"parameters":{"fileSelector":"={{ '/data/shared/output/drafts/' + $json.draftId + '.json' }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1232,-848],"id":"6610da96-f5c7-4c3d-bc75-872f978c296e","name":"Read Original Draft (Approved)"},{"parameters":{"jsCode":"// Build Render Context\n// Builds complete context for HTML template rendering\n\n// Image URL lookup map\nconst imageUrlMap = {\n  \"products/supersports-rear.jpg\": \"http://artofbrand.se/wp-content/uploads/2015/11/Automotive_Bentley_Supersport_006.jpg\",\n  \"products/supersports-profile.jpg\": \"http://artofbrand.se/wp-content/uploads/2015/11/Automotive_Bentley_Supersport_007.jpg\",\n  \"products/supersports-detail.jpg\": \"http://artofbrand.se/wp-content/uploads/2015/11/Automotive_Bentley_Supersport_010.jpg\",\n  \"products/supersports-showroom.jpg\": \"https://artofbrand.se/wp-content/uploads/2015/11/Automotive_Bentley_Supersport_005B.jpg\",\n  \"products/engine-heritage-plaque.jpg\": \"https://artofbrand.se/wp-content/uploads/2015/11/Automotive_Bentley_Supersport_003B.jpg\",\n  \"products/continental-driving.jpg\": \"http://artofbrand.se/wp-content/uploads/2015/11/Automotive_Bentley-Continental_012.jpg\",\n  \"products/mulsanne-studio.jpg\": \"https://artofbrand.se/wp-content/uploads/2015/11/Automotive_Bentley-Mulsanne_003A.jpg\",\n  \"lifestyle/silhouette-car-owner-bw.jpg\": \"https://artofbrand.se/wp-content/uploads/2014/11/People_Bentley-Motors_002.jpg\",\n  \"lifestyle/owner-portrait-bw.jpg\": \"https://artofbrand.se/wp-content/uploads/2014/11/People_Bentley-Motors_007.jpg\",\n  \"lifestyle/craftsmanship-wood-veneer.jpg\": \"https://artofbrand.se/wp-content/uploads/2015/11/Automotive_Bentley-Continental_010A.jpg\",\n  \"lifestyle/environment-tree.jpg\": \"https://artofbrand.se/wp-content/uploads/2015/11/Automotive_Bentley-Continental_010B.jpg\",\n  \"brand/ad-mulsanne-print.jpg\": \"http://artofbrand.se/wp-content/uploads/2014/11/clients_Bentley_3041.jpg\",\n  \"brand/ad-supersport-print-01.jpg\": \"http://artofbrand.se/wp-content/uploads/2014/11/clients_Bentley_3051.jpg\",\n  \"brand/ad-supersport-print-02.jpg\": \"http://artofbrand.se/wp-content/uploads/2014/11/clients_Bentley_3061.jpg\",\n  \"brand/ad-continental-print.jpg\": \"http://artofbrand.se/wp-content/uploads/2014/11/clients_Bentley_304.jpg\",\n  \"brand/website-mulsanne.jpg\": \"http://artofbrand.se/wp-content/uploads/2014/11/clients_Bentley_3091.jpg\",\n  \"brand/website-continental.jpg\": \"http://artofbrand.se/wp-content/uploads/2014/11/clients_Bentley_308.jpg\",\n  \"brand/abstract-bokeh.jpg\": \"https://artofbrand.se/wp-content/uploads/2015/11/Automotive_Bentley_Supersport_005A.jpg\",\n  \"events/motorshow-frankfurt-01.jpg\": \"https://artofbrand.se/wp-content/uploads/2014/11/clients_Bentley_5011.jpg\",\n  \"events/motorshow-frankfurt-02.jpg\": \"https://artofbrand.se/wp-content/uploads/2014/11/clients_Bentley_5041.jpg\",\n  \"events/ice-record-01.jpg\": \"https://artofbrand.se/wp-content/uploads/2014/11/clients_Bentley_5071.jpg\",\n  \"events/ice-record-02.jpg\": \"https://artofbrand.se/wp-content/uploads/2014/11/clients_Bentley_5081.jpg\"\n};\n\n// Get all data from Build Approval Record\nconst approvalData = $('Build Approval Record').first().json;\nconst draft = approvalData.draft;\nconst content = draft.generatedContent;\nconst imagePath = draft.image.path;\n\n// Resolve image URL\nconst imageUrl = imageUrlMap[imagePath] || `https://via.placeholder.com/800x600?text=${encodeURIComponent(imagePath)}`;\n\n// Determine template path\nconst templatePath = `/data/shared/rendered-templates/${approvalData.platform}-post.html`;\n\n// Build complete render context with ALL placeholders\nreturn [{\n  json: {\n    renderContext: {\n      headline: content.headline,\n      bodyCopy: content.bodyCopy,\n      cta: content.cta,\n      hashtags: Array.isArray(content.hashtags) ? content.hashtags.join(' ') : content.hashtags,\n      imageUrl: imageUrl,\n      platform: approvalData.platform,\n      draftId: approvalData.draftId,\n      theme: approvalData.theme,\n      vehicle: approvalData.vehicle,\n      approvedAt: approvalData.approvedAt,\n      approvedBy: approvalData.approvedBy\n    },\n    templatePath: templatePath,\n    renderedFilename: approvalData.renderedFilename,\n    responseUrl: approvalData.responseUrl,\n    channelId: approvalData.channelId,\n    messageTs: approvalData.messageTs,\n    draftId: approvalData.draftId,\n    platform: approvalData.platform\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1424,-592],"id":"9c20205a-2cee-4b18-a349-311630e49e17","name":"Build Render Context"},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[1424,-848],"id":"7c30d9aa-4126-4990-9bff-06b9001d017d","name":"Extract Draft JSON (Approved)"},{"parameters":{"fileSelector":"={{ $json.templatePath }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1632,-592],"id":"e9b3f2a5-b3e1-4f13-8c87-cf02184c6f2c","name":"Read HTML Template"},{"parameters":{"jsCode":"// Extract Template\n// Converts binary HTML file to string\n// Note: n8n Code nodes support top-level await\n// 'this.helpers' is provided by n8n's execution context for utility methods\n// await required for reading of file\nconst binaryData = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst html = binaryData.toString('utf8');\n\n// Pass through other data from Build Render Context\nconst buildData = $('Build Render Context').first().json;\n\nreturn [{\n  json: {\n    html: html,\n    renderContext: buildData.renderContext,\n    renderedFilename: buildData.renderedFilename,\n    responseUrl: buildData.responseUrl,\n    channelId: buildData.channelId,\n    messageTs: buildData.messageTs,\n    draftId: buildData.draftId,\n    platform: buildData.platform\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1840,-592],"id":"ed595b19-63e1-4286-a3be-3ea7f74411f3","name":"Extract Template"},{"parameters":{"jsCode":"// Render HTML\n// Replaces all placeholders in template with actual content\n\n// Get the template HTML from Extract Template\nconst templateData = $('Extract Template').first().json;\nlet html = templateData.html;\n\n// Get render context\nconst context = templateData.renderContext;\n\n// Replace all placeholders\nhtml = html.replace(/\\{\\{headline\\}\\}/g, context.headline);\nhtml = html.replace(/\\{\\{bodyCopy\\}\\}/g, context.bodyCopy);\nhtml = html.replace(/\\{\\{cta\\}\\}/g, context.cta);\nhtml = html.replace(/\\{\\{hashtags\\}\\}/g, context.hashtags);\nhtml = html.replace(/\\{\\{imageUrl\\}\\}/g, context.imageUrl);\nhtml = html.replace(/\\{\\{platform\\}\\}/g, context.platform);\nhtml = html.replace(/\\{\\{draftId\\}\\}/g, context.draftId);\nhtml = html.replace(/\\{\\{theme\\}\\}/g, context.theme);\nhtml = html.replace(/\\{\\{vehicle\\}\\}/g, context.vehicle);\nhtml = html.replace(/\\{\\{approvedAt\\}\\}/g, context.approvedAt);\nhtml = html.replace(/\\{\\{approvedBy\\}\\}/g, context.approvedBy);\n\nreturn [{\n  json: {\n    renderedHtml: html,\n    renderedFilename: templateData.renderedFilename,\n    responseUrl: templateData.responseUrl,\n    channelId: templateData.channelId,\n    messageTs: templateData.messageTs,\n    draftId: templateData.draftId,\n    platform: templateData.platform\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2048,-592],"id":"9f540432-7c5a-46c3-b603-26fda9707c1e","name":"Render HTML"},{"parameters":{"operation":"toText","sourceProperty":"renderedHtml","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2256,-592],"id":"e774c3bb-5d03-468d-9ad1-35112b807d89","name":"Convert HTML to File"},{"parameters":{"operation":"write","fileName":"={{ '/data/shared/output/rendered-approved/' + $('Render HTML').item.json.renderedFilename }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[2464,-592],"id":"c5f3f8be-59a2-4d6f-8cc1-90ed094d44ab","name":"Save Rendered HTML"},{"parameters":{"method":"POST","url":"={{ $('Render HTML').item.json.responseUrl }}","authentication":"predefinedCredentialType","nodeCredentialType":"slackApi","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"replace_original\": true,\n  \"text\": \"Content approved and rendered\",\n  \"blocks\": [\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"✅ *Content Approved*\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Draft ID:*\\ndraft-20260105T163210-10sugc_v2\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Platform:*\\ninstagram\"\n        }\n      ]\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"📄 Rendered preview saved to `output/rendered-approved/`\"\n      }\n    },\n    {\n      \"type\": \"context\",\n      \"elements\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"Approved at 2026-01-08 06:27\"\n        }\n      ]\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2672,-592],"id":"43799e79-3035-4b65-b9b2-a4a5f407b521","name":"Update Slack: Approved","credentials":{"slackApi":{"id":"bBhJSNFMbf1KHDiv","name":"Slack account"}}},{"parameters":{"assignments":{"assignments":[{"id":"401b679d-9dc6-4d00-8d17-702b852540d5","name":"status","value":"approved","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2880,-592],"id":"8715c756-a444-4a65-a241-72bdcb103523","name":"Approve Complete"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[544,-608],"id":"e924d751-9a31-4202-b3ce-5304c64da13f","name":"When clicking ‘Execute workflow’"},{"parameters":{"content":"**Mock data** manual trigger","height":224,"width":304},"type":"n8n-nodes-base.stickyNote","position":[464,-672],"typeVersion":1,"id":"b759964b-cb7d-4744-b4b1-d929990a0dee","name":"Sticky Note4"}],"connections":{"Slack Webhook":{"main":[[{"node":"Parse Slack Payload","type":"main","index":0}]]},"Parse Slack Payload":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Respond to Webhook":{"main":[[{"node":"Route by Payload Type","type":"main","index":0}]]},"Route by Payload Type":{"main":[[{"node":"Route by Action","type":"main","index":0}],[{"node":"Extract Modal Data","type":"main","index":0}]]},"Route by Action":{"main":[[{"node":"Read Original Draft (Approved)","type":"main","index":0}],[{"node":"Build Rejection Record","type":"main","index":0}],[{"node":"Build Modal Payload","type":"main","index":0}]]},"Build Rejection Record":{"main":[[{"node":"Convert Rejection to File","type":"main","index":0}]]},"Convert Rejection to File":{"main":[[{"node":"Save Rejection Record","type":"main","index":0}]]},"Save Rejection Record":{"main":[[{"node":"Update Slack: Rejected","type":"main","index":0}]]},"Update Slack: Rejected":{"main":[[{"node":"Reject Complete","type":"main","index":0}]]},"Open Feedback Modal":{"main":[[{"node":"Modal Opened","type":"main","index":0}]]},"Extract Modal Data":{"main":[[{"node":"Read Original Draft","type":"main","index":0}]]},"Read Original Draft":{"main":[[{"node":"Extract Draft JSON","type":"main","index":0}]]},"Extract Draft JSON":{"main":[[{"node":"Build Revision Context","type":"main","index":0}]]},"Build Revision Context":{"main":[[{"node":"Read Brand Guidelines","type":"main","index":0}]]},"Read Brand Guidelines":{"main":[[{"node":"Extract Brand Guidelines","type":"main","index":0}]]},"Extract Brand Guidelines":{"main":[[{"node":"Build Revision Prompt","type":"main","index":0}]]},"Build Revision Prompt":{"main":[[{"node":"Claude: Generate Revision","type":"main","index":0}]]},"Claude: Generate Revision":{"main":[[{"node":"Parse Revision Response","type":"main","index":0}]]},"Parse Revision Response":{"main":[[{"node":"Convert Revision to File","type":"main","index":0}]]},"Convert Revision to File":{"main":[[{"node":"Save Revised Draft","type":"main","index":0}]]},"Save Revised Draft":{"main":[[{"node":"Build Revision Slack Blocks","type":"main","index":0}]]},"Build Revision Slack Blocks":{"main":[[{"node":"Post Revision to Slack","type":"main","index":0}]]},"Post Revision to Slack":{"main":[[{"node":"Revision Complete","type":"main","index":0}]]},"Build Modal Payload":{"main":[[{"node":"Open Feedback Modal","type":"main","index":0}]]},"Build Approval Record":{"main":[[{"node":"Convert Approval to File","type":"main","index":0}]]},"Convert Approval to File":{"main":[[{"node":"Save Approval Record","type":"main","index":0}]]},"Save Approval Record":{"main":[[{"node":"Build Render Context","type":"main","index":0}]]},"Read Original Draft (Approved)":{"main":[[{"node":"Extract Draft JSON (Approved)","type":"main","index":0}]]},"Extract Draft JSON (Approved)":{"main":[[{"node":"Build Approval Record","type":"main","index":0}]]},"Build Render Context":{"main":[[{"node":"Read HTML Template","type":"main","index":0}]]},"Read HTML Template":{"main":[[{"node":"Extract Template","type":"main","index":0}]]},"Extract Template":{"main":[[{"node":"Render HTML","type":"main","index":0}]]},"Render HTML":{"main":[[{"node":"Convert HTML to File","type":"main","index":0}]]},"Convert HTML to File":{"main":[[{"node":"Save Rendered HTML","type":"main","index":0}]]},"Save Rendered HTML":{"main":[[{"node":"Update Slack: Approved","type":"main","index":0}]]},"Update Slack: Approved":{"main":[[{"node":"Approve Complete","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When clicking ‘Execute workflow’":[{"json":{"payloadType":"block_actions","triggerId":"10249451380947.10235598244389.377da2dcb66c518f44113137a71ec0e0","userId":"U0A710N9350","userName":"c.tregaskis.test","rawPayload":{"type":"block_actions","user":{"id":"U0A710N9350","username":"c.tregaskis.test","name":"c.tregaskis.test","team_id":"T0A6XHL76BF"},"api_app_id":"A0A74ME2QR2","token":"QYFXqBEage4e5VnYGsu8wV18","container":{"type":"message","message_ts":"1767871768.471799","channel_id":"C0A6UP3NK43","is_ephemeral":false},"trigger_id":"10249451380947.10235598244389.377da2dcb66c518f44113137a71ec0e0","team":{"id":"T0A6XHL76BF","domain":"prototypescorp"},"enterprise":null,"is_enterprise_install":false,"channel":{"id":"C0A6UP3NK43","name":"content-review"},"message":{"user":"U0A7E12RYCR","type":"message","ts":"1767871768.471799","bot_id":"B0A7VCBPSUQ","app_id":"A0A74ME2QR2","text":"Content review requested for draft-20260105T163210-10sugc","team":"T0A6XHL76BF","blocks":[{"type":"header","block_id":"hfwD/","text":{"type":"plain_text","text":":memo: Content Review Request","emoji":true}},{"type":"context","block_id":"dBqCv","elements":[{"type":"mrkdwn","text":"*Draft ID:* `draft-20260105T163210-10sugc`","verbatim":false}]},{"type":"divider","block_id":"rZ4Zr"},{"type":"image","block_id":"aOEmT","image_url":"http://artofbrand.se/wp-content/uploads/2015/11/Automotive_Bentley_Supersport_010.jpg","alt_text":"supersports-detail.jpg","image_width":2599,"image_height":1749,"image_bytes":137846,"is_animated":true,"fallback":"2599x1749px image"},{"type":"context","block_id":"C4WXR","elements":[{"type":"mrkdwn","text":":camera: *Image:* products/supersports-detail.jpg","verbatim":false}]},{"type":"divider","block_id":"F/OXK"},{"type":"section","block_id":"LgTPn","text":{"type":"mrkdwn","text":"*Headline*\n\"Precision Meets Passion\"","verbatim":false}},{"type":"section","block_id":"Nj6NN","text":{"type":"mrkdwn","text":"*Body Copy*\nEach Continental GT bears the mark of master craftsmen, where 130 hours of meticulous handwork transforms raw materials into automotive artistry.","verbatim":false}},{"type":"section","block_id":"xBdrt","text":{"type":"mrkdwn","text":"*Call to Action*\nDiscover the Art of Creation","verbatim":false}},{"type":"section","block_id":"jlyCR","text":{"type":"mrkdwn","text":"*Hashtags*\n#BentleyMotors #Craftsmanship #ContinentalGT #Handcrafted #BritishLuxury","verbatim":false}},{"type":"divider","block_id":"iVx9y"},{"type":"context","block_id":"4PFOQ","elements":[{"type":"mrkdwn","text":"*Platform:* instagram | *Theme:* craftsmanship | *Vehicle:* continental-gt","verbatim":false},{"type":"mrkdwn","text":"*Characters:* 274/2200 | *Valid:* :white_check_mark:","verbatim":false}]},{"type":"divider","block_id":"8CRz5"},{"type":"actions","block_id":"approval_actions","elements":[{"type":"button","action_id":"approve_content","text":{"type":"plain_text","text":":white_check_mark: Approve","emoji":true},"style":"primary","value":"draft-20260105T163210-10sugc"},{"type":"button","action_id":"reject_content","text":{"type":"plain_text","text":":x: Reject","emoji":true},"style":"danger","value":"draft-20260105T163210-10sugc"},{"type":"button","action_id":"request_changes","text":{"type":"plain_text","text":":pencil2: Request Changes","emoji":true},"value":"draft-20260105T163210-10sugc"}]}]},"state":{"values":{}},"response_url":"https://hooks.slack.com/actions/T0A6XHL76BF/10252400897861/aSO8ZrtdIruZlb1bIKUw6T22","actions":[{"action_id":"approve_content","block_id":"approval_actions","text":{"type":"plain_text","text":":white_check_mark: Approve","emoji":true},"value":"draft-20260105T163210-10sugc","style":"primary","type":"button","action_ts":"1767871788.870812"}]},"actionId":"approve_content","draftId":"draft-20260105T163210-10sugc","channelId":"C0A6UP3NK43","messageTs":"1767871768.471799","responseUrl":"https://hooks.slack.com/actions/T0A6XHL76BF/10252400897861/aSO8ZrtdIruZlb1bIKUw6T22"}}]},"versionId":"b1d3235c-1ae9-49a2-88a9-c43254a6e15e","activeVersionId":"b1d3235c-1ae9-49a2-88a9-c43254a6e15e","versionCounter":91,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-01-07T11:12:43.532Z","createdAt":"2026-01-07T11:12:43.532Z","role":"workflow:owner","workflowId":"oEcREjuNvfjVSgWE","projectId":"B6PPf1vWVgM1PWbx","project":{"updatedAt":"2025-12-19T14:09:11.868Z","createdAt":"2025-12-19T11:25:09.036Z","id":"B6PPf1vWVgM1PWbx","name":"Chris Tregaskis <c.tregaskis@gmail.com>","type":"personal","icon":null,"description":null}}]}