n8n/demo-data/workflows/rxB9eMban4GTHany.json
{
  "updatedAt": "2025-12-23T16:14:54.315Z",
  "createdAt": "2025-12-23T13:44:57.451Z",
  "id": "rxB9eMban4GTHany",
  "name": "Asset Inventory Reader",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-160, 16],
      "id": "d3e769de-eb1f-4be6-aa44-ba30d4bc6553",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fileSelector": "/data/shared/marketing-assets/images/images-manifest.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [208, -224],
      "id": "8539817c-9075-4956-a81d-4fdefb8769c4",
      "name": "Read Images Manifest"
    },
    {
      "parameters": {
        "fileSelector": "/data/shared/marketing-assets/copy/headlines/headlines.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [208, -64],
      "id": "da5e0cdf-60a1-4d9d-99ed-d390727a9d23",
      "name": "Read Headlines"
    },
    {
      "parameters": {
        "fileSelector": "/data/shared/marketing-assets/copy/body-copy/body-copy.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [208, 96],
      "id": "f301162e-4039-4033-aa40-e0f132700366",
      "name": "Read Body Copy"
    },
    {
      "parameters": {
        "fileSelector": "/data/shared/marketing-assets/copy/ctas/ctas.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [208, 272],
      "id": "1a18ec8a-6907-4ae5-aaf5-1ba8e532422d",
      "name": "Read CTAs"
    },
    {
      "parameters": {
        "jsCode": " // Collect all inputs from the four file read nodes\n  const inputs = $input.all();\n\n  // Parse each file's binary content to JSON using n8n's binary helper\n  const parseFile = async (item, index) => {\n    try {\n      const binaryKey = Object.keys(item.binary || {})[0];\n      if (!binaryKey) {\n        return { error: 'No binary data found' };\n      }\n      // Use n8n's helper to get the actual binary buffer\n      const buffer = await this.helpers.getBinaryDataBuffer(index, binaryKey);\n      return JSON.parse(buffer.toString('utf-8'));\n    } catch (err) {\n      return { error: err.message };\n    }\n  };\n\n  // Parse all four files (async)\n  const parsedFiles = await Promise.all(inputs.map((item, index) => parseFile(item, index)));\n  const [imagesData, headlinesData, bodyCopyData, ctasData] = parsedFiles;\n\n  // Build inventory summary\n  const inventory = {\n    timestamp: new Date().toISOString(),\n    status: 'success',\n    summary: {\n      images: {\n        total: imagesData.images?.length || 0,\n        byCategory: {},\n        byVehicle: {},\n        byTheme: {}\n      },\n      headlines: {\n        total: headlinesData.headlines?.length || 0,\n        byTheme: {},\n        byTone: {}\n      },\n      bodyCopy: {\n        total: bodyCopyData.body_copy?.length || 0,\n        byTheme: {},\n        byLength: {}\n      },\n      ctas: {\n        total: ctasData.ctas?.length || 0,\n        byIntent: {},\n        byDestination: {}\n      }\n    },\n    assets: {\n      images: imagesData.images || [],\n      headlines: headlinesData.headlines || [],\n      bodyCopy: bodyCopyData.body_copy || [],\n      ctas: ctasData.ctas || []\n    }\n  };\n\n  // Aggregate image statistics\n  if (imagesData.images) {\n    imagesData.images.forEach(img => {\n      inventory.summary.images.byCategory[img.category] =\n        (inventory.summary.images.byCategory[img.category] || 0) + 1;\n      inventory.summary.images.byVehicle[img.vehicle] =\n        (inventory.summary.images.byVehicle[img.vehicle] || 0) + 1;\n      img.themes?.forEach(theme => {\n        inventory.summary.images.byTheme[theme] =\n          (inventory.summary.images.byTheme[theme] || 0) + 1;\n      });\n    });\n  }\n\n  // Aggregate headline statistics\n  if (headlinesData.headlines) {\n    headlinesData.headlines.forEach(hl => {\n      inventory.summary.headlines.byTheme[hl.theme] =\n        (inventory.summary.headlines.byTheme[hl.theme] || 0) + 1;\n      inventory.summary.headlines.byTone[hl.tone] =\n        (inventory.summary.headlines.byTone[hl.tone] || 0) + 1;\n    });\n  }\n\n  // Aggregate body copy statistics\n  if (bodyCopyData.body_copy) {\n    bodyCopyData.body_copy.forEach(bc => {\n      inventory.summary.bodyCopy.byTheme[bc.theme] =\n        (inventory.summary.bodyCopy.byTheme[bc.theme] || 0) + 1;\n      inventory.summary.bodyCopy.byLength[bc.length] =\n        (inventory.summary.bodyCopy.byLength[bc.length] || 0) + 1;\n    });\n  }\n\n  // Aggregate CTA statistics\n  if (ctasData.ctas) {\n    ctasData.ctas.forEach(cta => {\n      inventory.summary.ctas.byIntent[cta.intent] =\n        (inventory.summary.ctas.byIntent[cta.intent] || 0) + 1;\n      inventory.summary.ctas.byDestination[cta.destination] =\n        (inventory.summary.ctas.byDestination[cta.destination] || 0) + 1;\n    });\n  }\n\n  return [{ json: inventory }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 0],
      "id": "f1c4e7e6-9727-472b-a941-c144ba03e10d",
      "name": "Build Inventory Summary"
    },
    {
      "parameters": { "numberInputs": 4 },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [560, -32],
      "id": "52cfb7b7-c42f-4b1d-acc7-6853f5eaceec",
      "name": "Merge"
    },
    {
      "parameters": {
        "content": "## Marketing Assets Read Actions\n\nThese are all local assets for now for prototype. View \"shared/marketing-assets/asset-structure-guide.md\" in project for details and possible integration with cloud storage patterns.",
        "height": 880,
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [64, -400],
      "typeVersion": 1,
      "id": "2e997fa6-9572-4be7-af34-0192555a1bc1",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "const inventory = $input.first().json;\n\nconst summaryText = `\n=== ASSET INVENTORY SUMMARY ===\nTimestamp: ${inventory.timestamp}\nStatus: ${inventory.status}\n\nIMAGES: ${inventory.summary.images.total} total\n   By Category: ${JSON.stringify(inventory.summary.images.byCategory)}\n   By Vehicle: ${JSON.stringify(inventory.summary.images.byVehicle)}\n   By Theme: ${JSON.stringify(inventory.summary.images.byTheme)}\n\nHEADLINES: ${inventory.summary.headlines.total} total\n   By Theme: ${JSON.stringify(inventory.summary.headlines.byTheme)}\n   By Tone: ${JSON.stringify(inventory.summary.headlines.byTone)}\n\nBODY COPY: ${inventory.summary.bodyCopy.total} total\n   By Theme: ${JSON.stringify(inventory.summary.bodyCopy.byTheme)}\n   By Length: ${JSON.stringify(inventory.summary.bodyCopy.byLength)}\n\nCTAs: ${inventory.summary.ctas.total} total\n   By Intent: ${JSON.stringify(inventory.summary.ctas.byIntent)}\n   By Destination: ${JSON.stringify(inventory.summary.ctas.byDestination)}\n\n================================\n`;\n\nconsole.log(summaryText);\n\nreturn [{\n  json: {\n    ...inventory,\n    formattedSummary: summaryText\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1008, 0],
      "id": "06dba09a-815d-407b-bf4f-6ded5577c959",
      "name": "Format Output"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/data/shared/output/inventory-summary.txt",
        "dataPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [1376, 0],
      "id": "f6ed551b-6523-4b0e-b570-5548832e20f2",
      "name": "Write Formatted Summary"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "formattedSummary",
        "binaryPropertyName": "=data",
        "options": { "fileName": "inventory-summary.txt" }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [1200, 0],
      "id": "dd7746f4-f1ce-4879-b7cf-e3d3309583e1",
      "name": "Convert Formatted Summary To File"
    },
    {
      "parameters": {
        "content": "## Process Content\n\nGenerates summary, formats summary, converts to a file format then finally, writes to system. **Note** - As this is self hosted, this writes to docker instance. Docker compose already setup to mirror the result to repository.",
        "height": 320,
        "width": 768
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [752, -128],
      "typeVersion": 1,
      "id": "6ba56755-8d39-46f9-ab3f-ec60dc3ae914",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Trigger\n\nFor full automation this can be replaced by a scheduled event trigger.",
        "height": 288,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-240, -128],
      "typeVersion": 1,
      "id": "cc471828-c0d6-4e8b-8d0b-a909b0147fda",
      "name": "Sticky Note2"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          { "node": "Read Images Manifest", "type": "main", "index": 0 },
          { "node": "Read Headlines", "type": "main", "index": 0 },
          { "node": "Read Body Copy", "type": "main", "index": 0 },
          { "node": "Read CTAs", "type": "main", "index": 0 }
        ]
      ]
    },
    "Read Images Manifest": {
      "main": [[{ "node": "Merge", "type": "main", "index": 0 }]]
    },
    "Read Headlines": {
      "main": [[{ "node": "Merge", "type": "main", "index": 1 }]]
    },
    "Read Body Copy": {
      "main": [[{ "node": "Merge", "type": "main", "index": 2 }]]
    },
    "Read CTAs": {
      "main": [[{ "node": "Merge", "type": "main", "index": 3 }]]
    },
    "Build Inventory Summary": {
      "main": [[{ "node": "Format Output", "type": "main", "index": 0 }]]
    },
    "Merge": {
      "main": [
        [{ "node": "Build Inventory Summary", "type": "main", "index": 0 }]
      ]
    },
    "Format Output": {
      "main": [
        [
          {
            "node": "Convert Formatted Summary To File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Formatted Summary To File": {
      "main": [
        [{ "node": "Write Formatted Summary", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "74f8c062-d7f2-4557-8045-e2c660af1a51",
  "activeVersionId": null,
  "versionCounter": 9,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-12-23T13:44:57.451Z",
      "createdAt": "2025-12-23T13:44:57.451Z",
      "role": "workflow:owner",
      "workflowId": "rxB9eMban4GTHany",
      "projectId": "B6PPf1vWVgM1PWbx",
      "project": {
        "updatedAt": "2025-12-19T14:09:11.868Z",
        "createdAt": "2025-12-19T11:25:09.036Z",
        "id": "B6PPf1vWVgM1PWbx",
        "name": "Chris Tregaskis <c.tregaskis@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}
