n8n/demo-data/workflows/SVzVvNTsxHh7cknM.json
{"updatedAt":"2026-01-08T17:55:11.203Z","createdAt":"2026-01-08T16:34:34.794Z","id":"SVzVvNTsxHh7cknM","name":"MCG:POC Master Orchestrator","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[64,304],"id":"f079dee9-482d-49e3-a761-6522e7b04c2e","name":"Manual Trigger"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[368,208],"id":"a7721f26-1fef-44ce-8586-e2b8fdb37b2e","name":"Merge Trigger Inputs"},{"parameters":{"formTitle":"Content Generation Trigger","formDescription":"A way to select key fields for generating fresh marketing content.","formFields":{"values":[{"fieldLabel":"theme","fieldType":"dropdown","fieldOptions":{"values":[{"option":"craftsmanship"},{"option":"performance"},{"option":"heritage"},{"option":"innovation"},{"option":"lifestyle"},{"option":"luxury"},{"option":"exclusivity"},{"option":"experience"}]},"requiredField":true},{"fieldLabel":"platform","fieldType":"dropdown","fieldOptions":{"values":[{"option":"instagram"},{"option":"linkedin"},{"option":"twitter"}]},"requiredField":true},{"fieldLabel":"vehicle","fieldType":"dropdown","fieldOptions":{"values":[{"option":"continental-gt"},{"option":"bentayga"},{"option":"mulsanne"},{"option":"supersports"},{"option":"all"}]},"requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[64,112],"id":"498a593f-1b8a-4622-8105-fa8db0acf2af","name":"On form submission","webhookId":"1192e844-ff8c-4a1d-b8d9-07bf1febe040"},{"parameters":{"workflowId":{"__rl":true,"value":"nesKA5lo6dQJVYOw","mode":"list","cachedResultUrl":"/workflow/nesKA5lo6dQJVYOw","cachedResultName":"MCG:POC:W3 Slack Notifier"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[992,208],"id":"c43eb8aa-c69e-4f98-a962-f0af02361536","name":"Call: W3 Slack Notifier"},{"parameters":{"workflowId":{"__rl":true,"value":"4qyoDdaGDRsW0gQq","mode":"list","cachedResultUrl":"/workflow/4qyoDdaGDRsW0gQq","cachedResultName":"MCG:POC:W2 AI Content Generator"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[784,208],"id":"e6bd9fa8-2506-439b-8416-ae10609ddc58","name":"Call: AI Content Generator"},{"parameters":{"workflowId":{"__rl":true,"value":"eHXVvbWNEXKCmkbv","mode":"list","cachedResultUrl":"/workflow/eHXVvbWNEXKCmkbv","cachedResultName":"MCG:POC:W1 Content Assembler"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[576,208],"id":"0d817755-e8cd-4c77-acf3-02ac1340231e","name":"Call: Content Assembler"},{"parameters":{"assignments":{"assignments":[{"id":"da174516-4186-4be9-b148-6e1973718ad9","name":"status","value":"complete","type":"string"},{"id":"b13eb632-6b16-42b5-9c87-1eb195cffd1e","name":"completedAt","value":"={{ $now.toISO() }}","type":"string"},{"id":"a3698a01-2060-44e2-9f6b-c7683b8c65e3","name":"theme","value":"={{ $('Merge Trigger Inputs').item.json.theme }}","type":"string"},{"id":"70c1f11b-5dd2-485c-8c33-8450341d6e16","name":"platform","value":"={{ $('Merge Trigger Inputs').item.json.platform }}","type":"string"},{"id":"731cc8b7-f2cf-43cd-a1b8-1366683a41f2","name":"vehicle","value":"={{ $('Merge Trigger Inputs').item.json.vehicle }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1200,208],"id":"074337dd-9e46-4dd4-8f84-8a4400a761e2","name":"Log: Pipeline Complete"},{"parameters":{"content":"### Prerequisites!\nThe workflow requires a public URL for Slack to send webhooks. For this POC, using Cloudflare Tunnel:\n\n`cloudflared tunnel --url http://localhost:5678`\n\nIf running for the first time, or again since its been disconected, will need to update slack hook. More details on all this here: project-\"documentation/workflows/approval-handler/approval-handler.md\"","height":208,"width":544},"type":"n8n-nodes-base.stickyNote","position":[368,-48],"typeVersion":1,"id":"2c919bbb-b64b-4aa2-847d-4176575ce197","name":"Sticky Note"}],"connections":{"Manual Trigger":{"main":[[{"node":"Merge Trigger Inputs","type":"main","index":1}]]},"On form submission":{"main":[[{"node":"Merge Trigger Inputs","type":"main","index":0}]]},"Merge Trigger Inputs":{"main":[[{"node":"Call: Content Assembler","type":"main","index":0}]]},"Call: AI Content Generator":{"main":[[{"node":"Call: W3 Slack Notifier","type":"main","index":0}]]},"Call: Content Assembler":{"main":[[{"node":"Call: AI Content Generator","type":"main","index":0}]]},"Call: W3 Slack Notifier":{"main":[[{"node":"Log: Pipeline Complete","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Manual Trigger":[{"json":{"theme":"craftsmanship","platform":"instagram","vehicle":"continental-gt"}}]},"versionId":"be0140b1-a07c-4dfc-a532-82fbe19b713c","activeVersionId":null,"versionCounter":10,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-01-08T16:34:34.794Z","createdAt":"2026-01-08T16:34:34.794Z","role":"workflow:owner","workflowId":"SVzVvNTsxHh7cknM","projectId":"B6PPf1vWVgM1PWbx","project":{"updatedAt":"2025-12-19T14:09:11.868Z","createdAt":"2025-12-19T11:25:09.036Z","id":"B6PPf1vWVgM1PWbx","name":"Chris Tregaskis <c.tregaskis@gmail.com>","type":"personal","icon":null,"description":null}}]}